[2018-02-23 20:21] cf-gitbot opened #1 "Please configure GITBOT"
Pivotal provides the Gitbot service to synchronize issues and pull requests made against public GitHub repos with Pivotal Tracker projects.

If you are a Pivotal employee, you can configure Gitbot to sync your GitHub repo to your Pivotal Tracker project with a pull request.

Steps:
* Fork this repo: [cfgitbot-config](https://github.com/pivotal-cf/cfgitbot-config) (an ask+cf@ ticket is the fastest

[2018-02-25 12:50] reachrkr opened #2 "Installation fails on archlinux"
Downloaded the plugin and tried installing  it failed on my linux box . Error below

-----------------------------------------------------------------------------------------------------
[ ~]$ cf install-plugin ~/Downloads/cfdev-v0.1-darwin
Attention: Plugins are binaries written by potentially untrusted authors.
Install and use plugins at your own risk.
Do you want to install the plugin /home/raj

[2018-02-25 18:53] vinayu opened #3 "Error downloading resources after installing the plugin"
Vinay-Upadhya-MacBook-Pro:Downloads vupadhya$ cf install-plugin cfdev-v0.0.1-darwin

**Attention: Plugins are binaries written by potentially untrusted authors. Install and use plugins at your own risk.**

Do you want to install the plugin cfdev-v0.0.1-darwin?> yes

Installing plugin cfdev-v0.0.1-darwin...
OK
Plugin cfdev v0.0.1 successfully installed.
Vinay-Upadhya-MacBook-Pro:Downloads vupadhya$

[2018-02-25 22:56] sclevine commented on #2
This first alpha release is for macOS-only. Support for Linux via KVM is on the roadmap.

[2018-02-26 19:04] jeremyrickard opened #4 "Support for VMware Hypervisors"
It looks like the wrappers around LinuxKit are currently only supporting HyperKit? I assume right now this is mac-Os only. Does your roadmap currently have any plans for supporting Fusion/Workstation?

[2018-02-26 19:33] jeremyrickard commented on #4
BTW would be happy to try and contribute this!

[2018-02-26 20:07] sclevine commented on #4
Hi @jeremyrickard,

What's your use case for Fusion or Workstation? We have Hyper-V support for Windows 10 lined up next.

We're planning to implement a legacy OVA distribution for Windows 7 and other older platforms. This OVA will work in Virtualbox and VMware Fusion/Workstation, but it will be limited (ex. it must be used entirely inside the VM and it won't include a CLI plugin).

[2018-02-26 20:08] sclevine commented on #3
Hi @vinayu, do you use an enterprise HTTP proxy?

[2018-02-26 20:17] jeremyrickard commented on #4
Purely preference, I have HyperV disabled on my Surface (using Workstation instead). Fusion isn't a really big deal for me, other than my preference of managing that all my virtualized stuff via Fusion (and sometimes migrating it to one of my ESXi boxes). The OVA thing would probably be sufficient for my Workstation and ESXi needs. Thanks!

[2018-02-26 20:17] #4 closed

[2018-02-26 20:20] vinayu commented on #3
No. It's on my home laptop & network.

[2018-02-26 21:40] drnic opened #5 "Host CLI plugin on http://plugins.cloudfoundry.org/"
To make it easy to discover + install + upgrade the plugin, could it be linked at http://plugins.cloudfoundry.org/ please?

[2018-02-26 21:53] drnic opened #7 "Progress bar for "Downloading Resources..."?"
I'm personally aware how big BOSH + CF is, so as I watch `Downloading Resources...` Like a child on a long family car trip, I am definitely wondering "Are we there yet?"

Can we add a progress bar/estimate of time? Perhaps a new person thinks this `Downloading Resources...` is a quick thing and doesn't realise that on their slow Internet it might be hours?

[2018-02-26 22:29] sclevine commented on #7
Definitely, we just didn't get a chance to port the download bar from the PCF Dev plugin before releasing the alpha.

[2018-02-26 22:31] sclevine commented on #5
This is on the roadmap. We may wait until the first beta release to make it available there though.

[2018-02-26 22:43] jallwrig opened #8 "sudo: illegal option -- -"
Trying to install on MacOs; I previously had an install of pcfdev on the same machine.

johns-MacBook-Pro-183:~ johnallwright$ cf install-plugin downloads/cfdev-v0.0.1-darwin
Attention: Plugins are binaries written by potentially untrusted authors.
Install and use plugins at your own risk.
Do you want to install the plugin downloads/cfdev-v0.0.1-darwin? [yN]: y
Installing plugin cfdev...
OK
Plugin

[2018-02-27 16:45] ekcasey commented on #8
Hi @jallwrig, would you mind running `sudo --version` and telling us which version of sudo is on your path?

[2018-02-27 16:47] jallwrig commented on #8
Hi, sudo -V returns:

Sudo version 1.7.10p9

thanks!

[2018-02-27 17:20] ekcasey commented on #8
`cfdev` is using sudo syntax that will only work with sudo version 1.8.0 and above. This will limit the versions of osx that cfdev is currently compatible with.

We will likely be removing this limitation soon. Which version of osx are you running?

[2018-02-27 17:24] jallwrig commented on #8
I'm on 10.11.6 El Capitan, I guess I should upgrade to High Sierra.

[2018-02-27 23:01] vinayu commented on #3
Closing this github issue as it was mostly an issue related to my internet.

[2018-02-27 23:01] #3 closed

[2018-03-01 00:49] afomi opened #9 "Yarn executable was not detected in the system"
![err](https://user-images.githubusercontent.com/67984/36821146-62fb1d14-1ca6-11e8-909a-eebfa05c720c.png)

It took quite a while, but, I was able to get CF running locally! 😄
On pushing a vanilla Rails app, I got the yarn failure above.

Where do I go from here?

I can push the same app to PWS. Where is yarn handled there? Where do I specify it here?

Thanks,

[2018-03-01 02:13] sclevine commented on #9
Hi @afomi,

Thank you for trying out our first alpha release! Sorry that you're running into this issue.

Could you provide the full output of `cf push` on both PCF Dev and PWS?

Could you also confirm that both apps have the same memory and disk quotas?

Unless the app is running out of memory or disk space during staging, the error you're encountering is likely due to a difference in buildpack v

[2018-03-01 02:18] #2 closed

[2018-03-01 14:16] akoranne opened #10 "Does cfdev download anything, on every start?"
I downloaded `cfdev`. First time, as expected, it took a long time.

But on subsequent restarts (after stopping) of cf dev, it is taking 20+ minutes to start.
It already has the iso in ~/.cfdev/cache folder.
Does it download any bits on every restart?

[2018-03-01 14:17] akoranne commented on #10
[code]

[2018-03-01 19:11] jallwrig commented on #8
upgrading Macos to High Sierra fixed the issue - thanks!

[2018-03-01 19:13] jallwrig opened #11 "CF Login fails: Port 443 Connection Refused"
[code]

[2018-03-01 20:19] ekcasey commented on #11
Hi @jallwrig , you and a handful of other users have discovered issue in the alpha release of CF Dev. CF Dev attempts to forward `10.144.0.34:80` and `10.144.0.34:443` on the guest to `10.144.0.34:80` and `10.144.0.34:443` on the host. However, `vpnkit` does not have permissions to bind those privileged ports. The reason we didn't catch this issue sooner is that machines with Docker for Mac instal

[2018-03-01 21:11] afomi commented on #9
@sclevine, I haven't resolved it, but I've been able to move forward.

1) I updated `manifest.yml` by specifying a recent buildpack as follows:

[code]

2) I had to get a database (PostgreSQL) running in a Docker container, and have my app connect to it from within PCF. (Still not there, but on my way)

Thanks for your assistance offline!

[2018-03-01 21:11] #9 closed

[2018-03-01 23:34] ekcasey commented on #10
Hi @akoranne

CF Dev will not re-download the resources. On each start, it will redeploy a bosh director to the garden instance running in the vm and then use that bosh director to deploy CloudFoundry. It uses pre-compiled bosh releases from the iso in the cache folder, but it can still take some time to deploy.

[2018-03-02 21:38] akoranne commented on #10
Thank you @ekcasey

[2018-03-02 21:39] #10 closed

[2018-03-02 21:42] akoranne opened #12 "Deploying concourse to cfdev"
This is not an issue, but was wondering if anyone has successfully done it.
Is tweaking the concourse manifest to map to the cloud config do the trick?
Or anything else would be required? Just looking at concourse.
Will look at credhub etc later.

[2018-03-03 01:59] drnic commented on #12
I would expect cfdev to operate like any bosh-lite?

________________________________
From: Ajay Koranne <notifications@github.com>
Sent: Saturday, March 3, 2018 7:42:08 AM
To: pivotal-cf/cfdev
Cc: Subscribed
Subject: [pivotal-cf/cfdev] Deploying concourse to cfdev (#12)

This is not an issue, but was wondering if anyone has successfully done it.
Is tweaking the concourse manifest to map to the cl

[2018-03-08 17:08] sclevine commented on #12
CF Dev uses the Warden CPI (with some usability improvements) to provide a compatible experience with BOSH lite. If you can deploy Concourse to BOSH lite, you should be able to deploy it to CF Dev.

[2018-03-08 22:02] akoranne commented on #12
Thank you @sclevine. I will give it a try.

[2018-03-08 22:02] #12 closed

[2018-03-09 06:51] amitoj opened #13 "Spring Cloud Service"
Is there a flag to configure SCS on cfdev?

[2018-03-12 20:30] ekcasey commented on #13
Hi @amitoj at this time there is no built in support for scs on `cfdev`. Support for services including scs is on the roadmap.

You could provide the services you need to your apps as user provided services https://docs.cloudfoundry.org/devguide/services/user-provided.html.

Alternatively, you could deploy the scs broker to cfdev yourself. The new cfdev comes with a bosh director! The `cf dev bosh

[2018-03-13 03:49] vinayu opened #14 "Progress Bar for Deploying CF"
Hello,

Is there a way to add a progress bar to show the status of deploying BOSH and CF. Right now it feels like I am waiting for a long time and I do not know if its stuck or moving along.

[2018-03-13 13:47] sclevine commented on #14
Duplicate of #7

[2018-03-13 13:47] #14 closed

[2018-03-13 14:24] sclevine commented on #13
Worth noting: Spring Cloud Services for PCF is a Pivotal product that will be included in the separate PCF integration for CF Dev. It will not be included in the official Cloud Foundry distribution of CF Dev, which will only include open source Cloud Foundry components and services.

[2018-03-13 14:25] #13 closed

[2018-04-19 13:53] ssisil commented on #11
Fixed in release [v0.0.2](https://github.com/cloudfoundry-incubator/cfdev/releases/tag/v0.0.2)

[2018-04-19 13:53] #11 closed

[2018-04-19 21:23] johnmcteague opened #15 "Unable to sync assets with v0.0.2"
Running cfdev v0.0.2

[code]

[2018-04-19 21:37] ssisil commented on #15
Please try again - there was a missing file - hence the 404

[2018-04-19 21:59] BrianMMcClain commented on #15
FWIW I was hitting the same issue earlier and seems to be resolved now. Thanks!

[2018-04-24 14:30] ssisil opened #17 "As CF Dev user, I can pass in a custom .dev file (ie. ISO) to CF Dev using the -f flag"
**WHEN** I pass in the -f flag with an .dev file (ie. iso) on CF Dev
**THEN** CF Dev will start up using that file

[2018-04-24 14:31] ssisil commented on #15
This has been resolved - closing the issue

[2018-04-24 14:31] #15 closed

[2018-04-24 14:37] ssisil opened #18 "As a CF Dev user, I can start CF Dev on Linux"
**Acceptance Criteria**

**Scenario : Start CF Dev on Linux**

**GIVEN** I installed the cfdev linux binary as a CF CLI plugin
**WHEN** I run cf dev start
**THEN** I see the following output in my terminal
[code]
**AND** CATS (for PCF) passes
**AND** I can target the VM BOSH director with v3.pcfdev.io (or any route, given that it's a wildcard)
**AND** CF Dev will be started without a VM or VPNKit

[2018-04-24 14:47] ssisil opened #19 "As a CF Dev User, I can resume where I left off in cf dev start"
**Scenario : Resume CF Dev Start**

**GIVEN** I am resuming a cf dev start process that was killed before completing
**WHEN** I run `cf dev start`
**THEN** I should see a progress bar that reflects how far along I previously was with the start process
**AND** the progress bar should indicate how much longer I have in the start process

[2018-04-24 14:53] ssisil opened #20 "As a CF Dev user, I can start PCF 2.1"
**Scenario: Startup PCF**

**When** I run `cf dev start -f pcf` (given: `cf dev start -f cf` is the same as `cf dev start`)
**Then** I see (add P before CF Dev in ascii art)
[code]
**And** CATS (for PCF) passes
**And** I can target the VM BOSH director with `v3.pcfdev.io` (or any route, given that it's a wildcard)
**And** Components behave as in PCF 2.1 (https://docs.pivotal.io/pivotalcf/2-1/pcf-r

[2018-04-24 14:55] ssisil opened #21 "As a CF Dev user, I can access apps manager when I start up CF Dev in PCF mode"
**When** I start up PCF when i run `cf dev start -f pcf`
**Then** I will see the following screen (with P before CFDEV)

[code]
**And** I can access apps manager at https://apps.v3.pcfdev.io

[2018-04-24 14:57] ssisil opened #22 "As a CF Dev user, I can start run CF Dev on Windows 10 with Hyper-V framework"
**When** I  run `cf dev start` on Windows 10 without Virtualbox
**Then** I will see the following output:
[code]
**And** CATS passes
**And** I can target the VM BOSH director with v3.pcfdev.io (or any route, given that it's a wildcard)

[2018-04-24 15:05] ssisil opened #23 "As a CF Dev user, I can see a progress for services starting during cf dev start"
**Scenario : CF Dev Start from scratch progress**

**GIVEN** I am starting a cf dev instance from scratch
**WHEN** I run `cf dev start`
**THEN** I should see the count of the total amount of services that need to be started
**AND** I should see the count of the total amount of services that have been started

[2018-04-24 15:11] ssisil opened #24 "As a CF Dev user, I should not need internet access to start and use CF Dev"

[2018-04-24 15:13] ssisil opened #25 "As a script running CF Dev, if I do not explicitly answer the collection of telemetry I will receive an error message"
__GIVEN__ CF Dev is being run by a script
__WHEN__the telemetry opt-in question is not answered the first time the tool is started
__THEN__ the start command will error out
__AND__ display the following message
`CF Dev requires that you explicitly opt in or out of anonymized telemetry.  Please make your selection`

[2018-04-25 16:58] ssisil opened #26 "Failed to install cfdevd error on `cf dev start` on Mac OSX 11.11 El Capitan"
**Steps to Re-Produce : **

- Run `cf dev start` on OSX 11.11.6
- Downloads resources
- Prompts user to enter sudo password
- User enters password
- Error occurs
- Starts VPNKit
- Stalls on starting VM

[2018-04-25 21:44] ssisil commented on #7
Added in [Release v0.0.3](https://github.com/cloudfoundry-incubator/cfdev/releases/tag/v0.0.3)

[2018-04-25 21:44] #7 closed

[2018-04-25 21:44] ssisil commented on #8
Fixed in [Release v0.0.3](https://github.com/cloudfoundry-incubator/cfdev/releases/tag/v0.0.3)

[2018-04-25 21:44] #8 closed

[2018-04-25 21:45] ssisil commented on #26
Fixed in [Release v0.0.3](https://github.com/cloudfoundry-incubator/cfdev/releases/tag/v0.0.3)

[2018-04-25 21:45] #26 closed

[2018-04-26 18:23] ssisil opened #28 "As a CF Dev user, downloading resources should automatically retry download if there are network issues"
__GIVEN__ I have run `cf dev start`
__AND__ I am downloading resources for the first time
__WHEN__ CF Dev loses network connectivity
__THEN__ it will try to resume downloading resources up to 10 times before an error is thrown

[2018-04-30 14:44] #21 closed

[2018-04-30 14:44] #20 closed

[2018-05-02 12:55] mymasse commented on #24
+1 We run CF on a network not connected to the internet and it would be nice if there is a way to get some sort of offline distribution

[2018-05-04 13:05] BenHall commented on #18
Thanks for opening the issue. I was speaking with @chipchilders about this. We have a distinct use-case for where CFDev is essential.

What needs to happen in order to port CFDev from MacOS to Linux? I noticed you are building on top of Linuxkit, does this mean the VM is already running on linux? Is it the cfdev-v0.0.1-darwin that would need to be recompiled?

[2018-05-04 13:12] dgodd commented on #18
Hi @BenHall ,

CF currently always needs to run on linux machines, so yes on the mac we start a linux VM to run CF on and then proxy the relevant ports.

We have been looking at linux support in multiple ways.
1. Start a VM and run it in that
2. Run CF on the host machine using containerization instead of a seperate VM. (using garden for the containerization)

I personally prefer the latter approa

[2018-05-05 07:34] BenHall commented on #18
The scenario is to use Katacoda.com (of which I'm the founder of) to help people understand the CF workflow and how to get started. Katacoda is an interactive learning platform for software developers, available via the browser without any downloads or configuration. You can see what we're doing with Kubernetes at https://kubernetes.io/docs/tutorials/kubernetes-basics/cluster-interactive/.

CF-Dev

[2018-05-07 01:38] sclevine commented on #18
That's awesome! Can you provide more details about how you plan to use CF Dev for this?

The CF Dev VM currently requires 4GB+ RAM, and it's not designed for multi-tenant use (ex. default credentials are everywhere). If you aren't trying to teach platform operator functionality, a single large deployment of CF could make more sense.

[2018-05-09 14:00] chipchilders commented on #18
@sclevine I spoke with @BenHall about this at kubecon. The general idea (and I'll let him correct me here) is that they stand up small environments for the various tools / platforms that they offer training around for each student. Seems like cfdev would be a good way to potentially do that, given the small size.

[2018-05-18 20:01] ssisil opened #29 "-f flag does not work if you pass in relative path to .dev file"

[2018-05-18 22:06] svrc-pivotal opened #30 "CF dev panic"
Running the latest CF CLI v.6.36.1 and 6.36.2, `cf dev` panics , i.e. no help text.  I can use `cf dev start` as expected, but figured looking for help text might be a common first action.

[code]

[2018-05-19 18:58] amitoj commented on #13
Is the support for Spring Cloud Services included in pcfdev-pas.v.2.1.0-build.0.8.0.dev?

[2018-05-19 19:01] amitoj opened #31 "MySQL service in pcfdev-pas.v.2.1.0"
How do I create a MySQL instance in pcfdev-pas.v.2.1.0-build.0.8.0.dev?

I can see MySQL server, proxy and monitor running in bosh

[2018-05-21 14:06] #17 closed

[2018-05-21 14:11] ssisil commented on #29
Fixed in [v0.0.5](https://github.com/cloudfoundry-incubator/cfdev/releases/tag/0.0.5)

[2018-05-21 14:11] #29 closed

[2018-05-21 14:15] ssisil commented on #28
Added in [v0.0.4](https://github.com/cloudfoundry-incubator/cfdev/releases/tag/0.0.4)

[2018-05-21 14:15] #28 closed

[2018-05-21 14:17] ssisil commented on #17
Added in [v0.0.4](https://github.com/cloudfoundry-incubator/cfdev/releases/tag/0.0.4)

[2018-05-22 10:53] dhoffi opened #32 "documentation: disk space required"
Hi, you should definitely mention ~ how much disk space will be needed to install cfdev with this. I tried it out, ran out of disk, and had to struggle quite a bit not to totally f... up my laptop..

[2018-06-05 15:27] ssisil opened #35 "As a CF Dev user, I can use a built in Mysql service"
__GIVEN__ I have started cf dev successfully
__WHEN__ I run `cf marketplace`
__THEN__ I will see the following output in the cli

[code]

[2018-06-08 15:34] ssherwood commented on #30
Seeing this as well on the latest version (on Mac):

➜  ~ cf -v
cf version 6.37.0+a40009753.2018-05-25

➜  ~ cf dev version
Version: 0.0.6

[2018-06-08 22:03] sclevine commented on #30
Thanks for the pointer! This should probably be a synonym for `cf dev help`, but that's currently not implemented.

[2018-06-15 21:07] abh1kg commented on #22
Waiting for this eagerly over the last 2 months....

[2018-06-16 02:06] sclevine commented on #22
We just managed to get the latest CF deployment to start on hyper-v with vpnkit networking today.

[2018-06-18 19:10] mxplusb commented on #22
Yesssss. Well let me know if you'd like an early tester. :)

[2018-06-18 20:07] dgodd commented on #30
@sclevine I believe the commit above fixes this

[2018-06-19 01:17] izgeri opened #36 "Issues connecting to Docker container running on localhost"
If I start a service defined in a docker compose file:
[code]
by running `docker-compose up -d my_service`, I can `curl -i localhost:8080` from the command line on my machine and get a response from my service as expected.

If I deploy a basic app to CF Dev (for example, [see here](https://github.com/cyberark/cloudfoundry-conjur-demo/tree/master/app)) by running `cf push` and try to run
[code]
the

[2018-06-19 01:41] sclevine commented on #36
Hi @izgeri,

`host.pcfdev.io` should resolve to `192.168.65.2`, but a bug in versions earlier than v0.0.4 had resolution configured for `192.168.65.1` by mistake. Can you upgrade to v0.0.6?

[2018-06-19 03:16] izgeri commented on #36
That did the trick. Thanks @sclevine!!

[2018-06-19 03:16] #36 closed

[2018-06-23 04:13] privettoli commented on #22
@sclevine is there any major problem for not releasing at least alpha/beta? How can I help?
I know many people who wait for the Hyper-V support.

[2018-06-27 18:41] privettoli commented on #22
@sclevine tried to build from sources, unsuccessfully.
Could you please provide some sort of alpha-distribution? Thanks in advance.

[2018-06-27 19:55] sclevine commented on #22
We don't have a public alpha release of this ready, and the instructions to stand up a working VM are currently very complicated because the feature has not been added to the CLI plugin yet. We are actively working on this.

[2018-06-27 20:00] kamkie commented on #22
some raw estimations for alpha?
1 month?
3 months?
6 months?
more?

[2018-07-08 22:48] vinayu opened #37 "Cache the state of cf dev"
Hello,

Could you add a feature to cache the state of cf dev to survive a restart quickly vs having going through a redeployment of bosh,cf and services on every start? 30 minutes to start cf dev is just too much to wait.

[2018-07-09 16:39] ssisil commented on #37
hi @vinayu - this is something we have prioritized in our backlog. We hope to have improvements related to start up out in the coming months

[2018-07-13 13:20] DougiePop opened #38 "cf-dev install is timing out"
Hi:

I am trying to install the cf-dev plugin on my macbook OS terminal with the stated command "cf install-plugin cfdev", but it fails with the following message "Get https://plugins.cloudfoundry.org/list: dial tcp: i/o timeout".

I tried increasing the environment variable "CF_DIAL_TIMEOUT" to 360 and it still gives me the same error of "i/o timeout", albeit after some time. My CF_CLI version is

[2018-07-13 13:33] ekcasey commented on #38
Hi @DougiePop sorry you are having trouble installing the plugin for the repo. Is it possible that you are behind a proxy? In that case setting `HTTP_PROXY`, `HTTPS_PROXY` env variables might do the trick. Does `curl https://plugins.cloudfoundry.org/list` in the same terminal succeed?

[2018-07-19 15:18] jasonf1234 commented on #36
I just tried to connect to a service broker outside of cf dev using:
`cf create-service-broker broker-name cf_user cf_pass http://host.pcfdev.io:<broker_port>` and the return was:

Creating service broker broker-name as admin...
FAILED
Server error, status code: 504, error code: 10001, message: The request to the service broker timed out: http://host.pcfdev.io:8890/v2/catalog

What I ended up doin

[2018-07-23 22:05] drnic commented on #5
This is done now.

[2018-07-23 22:05] #5 closed

[2018-07-23 23:11] drnic opened #39 "What is root ca/ssl cert for uaa.v3.pcfdev.io?"
I have a demo app [1] which accepts `$UAA_CA_CERT_FILE` as a reference to the UAA's custom root CA.

I'm having troubles figuring out where in the `bosh -d cf manifest` the root CA for the https://uaa.v3.pcfdev.io and https://login.v3.pcfdev.io is.

A good candidate looked like:

[code]

But its not working for the demo app:

[code]

(see [1] for setup of client + sample user)

But when the author

[2018-08-01 03:44] drnic opened #40 "Date on bosh instance is wrong so certificates aren't valid yet"
On my laptop in GMT+10:

[code]

So the GMT time would be `03:42:07`.

But inside a cfdev bosh instance I see an older time:

[code]

Amusing perhaps, but it means that the certificates I generate on my laptop are not yet valid for another 3.5 hours.

Any ideas about this?

Note: my cfdev is not recently deployed; so my guess is an ntp configuration issue. Are we configuring ntp?

[2018-08-01 22:22] drnic opened #41 "Trigger request for root password sooner"
As a regular user of `cf dev stop` and later `cf dev start`, and knowing that it takes 30 mins to bootstrap, I start the command and walk away. Only to come back in 10-30 mins to see it waiting for my root password.

Can we please trigger the prompts for user interactions (root password in this case) ASAP before going into other long running behaviour?

Merci
Nic

[2018-08-01 22:54] drnic commented on #39
I've also tried:

[code]

[2018-08-01 22:57] drnic commented on #39
Is the issue related to the UAA's sslCertificate only having `uaa.service.cf.internal` as its alternate name, and not `uaa.v3.pcfdev.io`?

[code]

[2018-08-02 00:13] drnic commented on #39
This one looked good but failed:

[code]

[code]

But perhaps the cert above isn't a ca.

[2018-08-02 00:29] drnic commented on #39
I also tried `/instance_groups/name=router/jobs/name=gorouter/properties/router/tls_pem/0/cert_chain`

[2018-08-02 14:43] ekcasey commented on #39
Hi @drnic CF inside of `cfdev` is deployed with `cf-deployment`. The uaa ssl cert is defined as a variable in the manifest and generated on deploy https://github.com/cloudfoundry/cf-deployment/blob/master/cf-deployment.yml#L1936-L1942.

[code]
If you want to use `bosh int` to retrieve it from the manifest it can be found at
[code]
The `uaa_ca` that signs the `uaa_ssl` cert is also a generated vari

[2018-08-02 15:03] ekcasey commented on #41
@drnic Thanks for the feedback! That is definitely something we can work on improving. I threw a story in the backlog to address this.

[2018-08-02 15:38] ekcasey commented on #40
@drnic You are right, it looks like we are missing `ntpd` from our image. Sleeping your laptop would likely result in time drift between the host and guest. I'll add this to the backlog.

Your feedback is very much appreciated :)

[2018-08-02 15:54] #23 closed

[2018-08-02 15:55] #35 closed

[2018-08-02 22:13] drnic commented on #40
Ahh yeah lol. I always assume time continues onwards; but not if you freeze the VM :)

[2018-08-02 22:46] drnic commented on #39
The plot thickens. The above command fails for me:

[code]

Contents of `router_cert` file look fine via `openssl x509 -text -in router_cert`.

Ideas what might be busted with my `curl` or local envirionment?

[2018-08-02 22:51] drnic commented on #39
Ok, I upgraded MacOS `curl` with homebrew and its not failing now:

[code]

[2018-08-02 22:51] #39 closed

[2018-08-02 22:52] drnic commented on #39
But no idea why preinstalled curl was failing. Ideas?

[2018-08-03 11:16] abh1kg commented on #22
@ssisil : Am I right in assuming that I can use CF Dev on Windows? If yes, you'd have made my day 👍

[2018-08-04 13:35] ssisil commented on #22
released in version 0.0.7

[2018-08-04 13:35] #22 closed

[2018-08-14 19:00] geofffranks commented on #37
+1

[2018-08-20 14:00] grindrt opened #42 "Can't start the pcf dev using iso file"
Hello everyone,

I'm trying to start the PCF Dev using the .iso file from this page:  https://network.pivotal.io/products/pcfdev#/releases/152982

But during execution of the cf dev start command I've faced with next exception (I'm running command using an administrator mode):

PS C:\WINDOWS\system32>  cf dev start -f C:\pcf\pcfdev-pas.v.2.0.18.0-build.0.75.0.iso -m 8096
Setting up IP aliases for

[2018-08-20 15:45] ssisil commented on #42
hi @grindrt - do you have Hyper-V enabled on your machine ? You can follow this tutorial if you do not - https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/enable-hyper-v

[2018-08-21 11:28] grindrt commented on #42
Hi @ssisil , yes, enabling of the Hyper-V helped me. Thanks!

[2018-08-21 11:28] #42 closed

[2018-08-22 21:21] #41 closed, assigned to nobody

[2018-09-04 13:04] rockebee opened #43 ""cf dev start" not working on non-english windows environments"
I installed the latest plugin (version 0.0.9) to the CF CLI on my Windows 10 environment and the command
```cf dev start```

failed with

[code]

After some investigation in source code I found out that when constructing the powershell command, the english default name for the network adapter is tried to get removed ([link to source](https://github.com/cloudfoundry-incubator/cfdev/blob/09c9ae86f23

[2018-09-04 19:16] ssisil commented on #43
@rockebee - thanks for pointing this out.  We have prioritized this an issue we need to fix.

[2018-09-05 05:45] kamkie commented on #43
I had same problem with minishift, this may be useful https://github.com/minishift/minishift/issues/2096

[2018-09-10 07:14] andyliuliming opened #45 "hyper-v detect logic not works in windows server 2016."

[2018-09-10 08:16] rockebee commented on #43
@kamkie, the minishift bugs seems related, but different issue though - from what I read it is mainly about support for non-ascii characters for some names/parameters, not about default values within different locales. IMHO the quickest fix for this dedicated issue in cfdev would still be to use `*` rather than `Network Adapter`.
(by the way, just realized that the asterisk `*` in my original writ

[2018-09-10 17:02] aemengo commented on #45
Thanks very much for your assistance with this. This issue has been addressed in the following commit:
https://github.com/cloudfoundry-incubator/cfdev/commit/71709accd70ba22b794fca15458667ec80fa68bc

Be on the lookout for our next release

[2018-09-11 00:48] andyliuliming commented on #45
@aemengo Hi, Anthony, the fix you did is not 100% correct. because the "Hyper-V Module for Windows PowerShell" can live without Hyper-V feature.
so only check the "Hyper-V Module for Windows PowerShell" on windows server 2016 is not enough.
could you please help merge my commit, thanks.

[2018-09-11 07:10] rockebee opened #47 "cf dev start: Failed to deploy services: unable to parse bosh config: yaml: line 1: mapping values are not allowed in this context"
Hi devs,
After having workarounded the issue with non-english environment on Windows, I now stumbled upon another issue:
[code]

Any hint or idea where to look at?
The `cache\cf-deps.iso` file has been newly downloaded (size is 4.882.026..240 bytes), and from what I see there are no relevant logs on my windows machine that might help ...

As the VM is still up and running: Is there any way to log

[2018-09-11 12:08] aemengo commented on #47
We apologize very much, but this is very likely due to an intermittent bug that will be resolved in our upcoming release.

But the good news is that, although provisioning did not complete 'till the very end, your local Cloud Foundry deployment should be up and available for use. Here's the interaction instructions that you would have seen.

[code]

[2018-09-11 12:08] #47 closed

[2018-09-11 12:28] #45 closed

[2018-09-11 12:30] aemengo commented on #45
PR: https://github.com/cloudfoundry-incubator/cfdev/pull/46 has been merged

[2018-09-11 23:48] abh1kg opened #48 "cf login fails on cfdev with i/o timeout"
[code]

Notes:
- I am not behind a proxy
- This is on Windows 10
- Hyper-V console shows the cfdev VM

[2018-09-13 11:43] rockebee commented on #47
Hi @aemengo,
I verified that login works with the given credentials, so thanks for the hint. However, after having logged in I don't have any services listed in the marketplace nor is the web ui working (returning 404 on https://apps.dev.cfdev.sh), so the cfdev environment is kinda ... useless for me :/
I assume this is related to the bosh deployment error quoted above, but is there any other way

[2018-09-13 13:39] ssisil commented on #47
@rockebee - Im assuming you are starting this in open source mode - ie. `cf dev start`. If so - you will only have access to MySQL service. Apps Manager, Redis, RabbitMQ are only available when you start in PCF Dev mode - which is `cf dev start -f <path to .iso>`. You should be able to download the .iso file from the PCF Dev page on network.pivotal.io

[2018-09-13 14:17] ssisil opened #49 "As CF Dev user, I can specify a service that I want to start with the `-s` flag"
**Scenario : Filtering services**

__WHEN__ I pass in a  service with the `-s` flag in `cf dev start`
__THEN__ only the specified services will be started

**Scenario : `all` specified CF Dev**
__WHEN__ I pass in `all` to the `-s` flag in `cf dev start`
__THEN__ mysql service will be included in the cf dev instance

**Scenario : `none` specified**
__WHEN__ I pass in `none` to the `-s` flag in `cf

[2018-09-13 14:19] ssisil opened #50 "As a CF Dev user, if my system does not have sufficient memory to run CF Dev I want to be notified at startup"
** Scenario : CF Dev**

__GIVEN__ I am running CF Dev on a machine that does not have sufficient memory
__WHEN__ I run `cf dev start`
__THEN__ the plugin will detect I do not have sufficient memory to run (ie. less than 4096 MB)
__AND__ then display the following message
[code]
__AND__ the exit out of the start up flow

[2018-09-19 11:07] richard-cox commented on #18
We over at @cloudfoundry-incubator/stratos-ui would love to use cfdev on linux. We're currently using pcfdev for development and test, however we've heard that's now end of life and would love to make the switch to the new bits in cfdev. Would it be possible to understand how this feature is going and any possible timelines?

[2018-09-19 20:27] aemengo commented on #48
Closing because of inactivity. Please let us know if you are still facing this issue.

[2018-09-19 20:27] #48 closed

[2018-09-19 20:28] aemengo commented on #40
The most recent release [v0.0.10](https://github.com/cloudfoundry-incubator/cfdev/releases/tag/0.0.10) should have this resolved.

[2018-09-19 20:28] #40 closed

[2018-09-19 20:30] aemengo commented on #43
The most recent release [v0.0.10](https://github.com/cloudfoundry-incubator/cfdev/releases/tag/0.0.10) should have this resolved.

[2018-09-19 20:30] #43 closed

[2018-09-19 20:31] aemengo commented on #38
Closing because of inactivity...

[2018-09-19 20:31] #38 closed

[2018-09-20 03:31] abh1kg commented on #48
Then, it's a fault on my part- I wasn't aware there was a public slack forum for cfdev

[2018-09-21 19:55] bennedm opened #51 "windows cf dev fails on deploying bosh director"
When trying to start cf dev on a windows 10 machine, it fails while deploying the bosh director with the following message:

cf dev start: Failed to deploy the BOSH Director: process exited with status 1

I'm not sure where or how to look for more information to diagnose this problem.
output of version command:
D:\cf-dev>cf dev version
CLI: 0.0.10
cf: v4.3.0
cf-mysql: 36.15.0

[2018-09-21 22:11] aemengo commented on #30
This issue has been resolved, versions ago. Closing...

[2018-09-21 22:11] #30 closed

[2018-09-21 22:15] aemengo commented on #51
@bennedm Would you mind telling us how much ram your workstation has? We've routinely seen this sort of behavior with workstations that have limited amounts of memory.

[2018-09-27 10:56] babuz commented on #48
I am facing the same issue

[2018-09-27 11:18] babuz opened #52 "pcf dev not able to login windows10 Hyper-V"
I am able to install pcf dev and windows Hyper-V successfully, but I am not able to login i am getting 502 bad gateway issues.
I am able to ping this server easily and getting the reply..
https://api.dev.cfdev.sh/V2/info -> getting 502 badgateway error. I am sitting behind proxy.. and configured https_proxy propertly

I am getting reply propertly if I ping 10.144.0.34
I am able to see the cfdev in

[2018-10-02 16:58] bennedm commented on #51
Sorry for the late reply, I have 16 GB of ram in this machine. I can try without other applications opened if that might help

[2018-10-15 19:31] exzine opened #53 "v0.0.11 is not compatible with pcfdev iso"
Hi, this update won't work with current pcfdev iso file (v2.0.20.0build0.82.0), please check that.

[2018-10-15 20:01] ssisil commented on #53
@exzine - Thanks - we plan on releasing a new version of the pcfdev.iso that works with v 0.0.11 very soon.  In the mean time - we recommend going back to a version v 0.0.10 or using it in CF only mode

[2018-10-27 22:31] betht1220 opened #54 "is there a way to suspend cfdev?"
cf dev stop destroy the VM, is there a way to suspend cfdev? Thanks

[2018-10-27 23:49] teespoon opened #55 "CF Dev does not fully expose TCP Routes / Non-standard Ports"
CF Dev should allow a TCP route / non-standard port to be fully exposed to the host.  Three versions/setups were tested and failed:

- 0.0.11 (no iso)
- 0.0.10 (no iso)
- 0.0.9 + pcfdev-pas.v.2.0.20.0-build.0.82.0.iso

However, these VirtualBox-based local CF installations succeeded:

- [BOSH Lite](https://bosh.io/docs/bosh-lite/) as shown in Issue [301](https://github.com/cloudfoundry/docs-dev-gu

[2018-10-29 13:11] ssisil commented on #53
Latest release of PCF Dev - https://network.pivotal.io/products/pcfdev#/releases/216556
is compatible with CF Dev plugin v0.0.12 or higher.

[2018-10-29 13:11] #53 closed

[2018-10-29 13:13] ssisil commented on #52
Sorry about the delay @babuz - is this still an issue with the latest version of CF Dev - v0.0.12?

[2018-10-29 13:14] ssisil commented on #54
Hi @betht1220 - we do not support this currently - but are working on adding this in an upcoming release. Will update this thread when this is available.

[2018-10-30 17:00] babuz commented on #52
Nope.. I didn't try it.. I will try and let you know.

[2018-10-31 14:07] aemengo commented on #55
@teespoon Unfortunately `cfdev` has a different architecture than the previous virtualbox-based product `pcfdev`. Ports must explicilty _fowarded inside_ of the VM before you see them. That includes the tcp ports. This product [only has these ports](https://github.com/cloudfoundry-incubator/cfdev-builder/blob/master/linuxkit/garden.yml#L147-L148) routable for tcp routing `1024-1049`, for the time

[2018-10-31 14:07] #55 closed

[2018-10-31 16:27] teespoon commented on #55
Thanks @aemengo for the info.

Would it be possible for CF Dev to publish an error if non-default ports outside of this range are used in a dockerfile EXPOSE and/or CF TCP Route since CF Dev (and thus, new versions of PCF Dev) will not support them... rather than the ports just being silently unreachable at run-time?

[2018-10-31 16:46] emalm commented on #55
I'm confused by this discussion. One benefit of the TCP router is to decouple the port that the service instance listens on from the port that external clients use to connect to it. In this example, the redis server in the container can continue to listen on port 6379 on the network interface specific to its container, and any external clients can connect to a port in the 1024-to-1049 range on the

[2018-10-31 20:31] aemengo commented on #55
@teespoon Unfortunately our team is only tasked with _packaging_ the product for the local use case. We'd love to publish an error as you've requested, but it would not only be beyond the scope of this project and its engineers but would be very non-trivial.

Moreover I think there was some confusion regarding the previous comment. PCF Dev has a hard limit on the ports you can access _from the out

[2018-10-31 23:07] betht1220 opened #56 "bosh ssh"
I need to set bosh deployment in order to "bosh ssh"
How do I set it? or can I even "bosh ssh"
Thanks

[2018-10-31 23:32] aemengo commented on #56
You perform the command by setting the `-d / --deployment` flag (mileage may vary on Windows). For instance, with CF Dev on a `macOS` system:

[code]

In the future, please understand that this question is better suited for the [BOSH CLI repository](https://github.com/cloudfoundry/bosh-cli/issues) or even by consulting their [documentation](https://bosh.io/docs/cli-v2/#ssh-mgmt). This repository a

[2018-10-31 23:32] #56 closed

[2018-11-01 19:10] betht1220 opened #57 "resources available in diego cell"
"http://localhost:1801/state" returns nothing in diego cell, instead of available resources

[2018-11-05 01:45] aemengo commented on #57
@betht1220 It's quite vexing but cloudfoundry has locked itself down considerably from a security standpoint. The endpoint you've mentioned should be able to reached via mutual TLS. Please give the following a try in the diego cell and see if it yields better results:

[code]

[2018-11-05 22:45] betht1220 opened #58 "cf release manifest"
Can you post the url to the cf release manifest that is used when "cf dev start" runs.
I have delete the existing cf deployment and want to deploy an exact release
Thanks

[2018-11-06 00:03] aemengo commented on #58
Hi! Unfortunately, we do not host the cf release manifest anywhere since it is generated during the build process. However, it is pretty easy to retrieve if you have a cfdev up and running, as posted [here](https://github.com/cloudfoundry/bosh/issues/2074#issuecomment-436077471), you can do:

[code]
However, unfortunately Github issues is not the best platform for the sequential nature of question

[2018-11-06 00:03] #58 closed

[2018-11-06 00:04] #57 closed

[2018-11-06 22:56] andrelohmann commented on #18
Any progress on this? When will cfdev come to linux machines too?

[2018-11-07 18:48] ssisil commented on #18
@andrelohmann - This is something we have prioritized in our backlog. We are currently working on implementing significant performance improvements for our current versions. Once that is complete we will start the linux version (which will include the performance improvements). Look for something here in the coming months.

[2018-11-10 13:00] dkadam77 commented on #51
Is there any solution to this issue??? I am also facing the same issue.

[2018-11-20 17:42] rhuiser opened #59 "Access to Credhub using the CLI"
When I run `credhub api -s http://$BOSH_ENVIRONMENT:8844 --skip-tls-validation`, the command returns with the error:

[code]
It looks like there is some forwarding issue between the director and the credhub instance?

- I verified all services are running on credhub using `bosh -e cfdev -d cf ssh credhub -c 'ps -ef | grep java'`  :

[code]
No messages are written to the logfiles under `/var/vcap/s

[2018-11-24 14:03] emailtowalter opened #60 "How to upgrade CAPI version?"
I try to use the V3 API , e.g. cf v3-apps, and get this error. "This command requires CF API version 3.27.0 or higher. Your target is 3.17.0."

My version of the PCFDev is "PCF Dev version 0.30.0 (CLI: 850ae45, OVA: 0.549.0)"

Is there a way to upgrade CAPI?

Thanks

[2018-11-25 03:39] aemengo commented on #59
@rhuiser I believe there's some confusion with how cfdev is deployed. Distinct credhubs can exist for both the bosh director _and_ for a given Cloud Foundry deployment. When you target with `credhub api -s http://$BOSH_ENVIRONMENT:8844 (10.245.0.2:8844) ...`, you are attempting to target the credhub for the bosh director. Cfdev does not have a credhub deployed with its bosh director so nothing exi

[2018-11-25 03:47] aemengo commented on #60
@emailtowalter You're currently using an outdated version of the cfdev plugin. Please uninstall the plugin and re-install in the following way. It will have the upgraded CAPI version.

[code]

[2018-11-26 00:19] sclevine commented on #60
To clarify, the new PCF Dev is an extension of CF Dev that can be downloaded from PivNet. You can download the "PCF Dev - PAS" ISO file and use `cf dev start -f /path/to/pcfdev-pas.v.2.0.22-build.0.101.0.iso` to start it.

This is currently significantly more resource intensive that the old PCF Dev, but we're actively working to improve that.

[2018-12-02 23:39] #59 closed

[2018-12-06 14:18] emailtowalter opened #61 ""CF dev start" takes long time."
I am using mac. Previously has PCFDEV, and followed the instruction here to uninstall it. Then Installed the CF dev.

When I ran "cf dev start", it took long time ( about 30 min) ,and saw tons of "Uploaded Release" note ( up to 35) then lots of progress ( up to 14). Is it normal?

Downloading Network Helper...
Installing cfdevd network helper...00.0%
Installing networking components (requires root

[2018-12-06 15:19] emailtowalter opened #62 "dilemma on HTTPS_Proxy setting"
After installed cf dev , try to "CF push MyApp -b java_buildpack" my java app which used to work for PCFDEV. I got error "Unable to find cached file for https://java-buildpack.cloudfoundry.org/jvmkill/trusty/x86_64/index.yml". This typically means I need to setup HTTPS_PROXY due to my company's network restrain. It was confirmed by running "curl https://java-buildpack.cloudfoundry.org/jvmkill/trus

[2018-12-06 15:38] emailtowalter commented on #61
thanks for the explanation. Looking forward to the new build.

[2018-12-06 15:38] #61 closed

[2018-12-07 18:17] aemengo commented on #62
Hi @emailtowalter, simply setting `HTTPS_PROXY` isn't enough to get CF Dev to respect it for all of its _internal_ network interactions. You need to `start` the VM with those settings. For example:

[code]

Please let us know if this addresses your problem.

[2018-12-09 12:28] joaompinto opened #63 "documentation: RAM required"
The documentation with system requirements should note that on Windows 10 more than 8GB of RAM are required.

[2018-12-09 13:51] emailtowalter commented on #62
Thanks for getting back to me. I added HTTPS_PROXY and HTTP_PROXY setting in the bash_profile, and did stop-then-start. Then all sorts of weird thing happens.

First, CF dev start seems to work, although the output log is different from without these settings. But then, I cannot login. Tried to "curl https://api.dev.cfdev.sh/v2/info", it timed out. In order to login , I have to unset these setting

[2018-12-09 19:37] aemengo commented on #62
Firstly, just wanted to give a major thanks for giving our product a thorough shakedown! Though we're sad that you're running into issues, we will always be thrilled to help.

-----

Addressing some of the major points you've mentioned:

Yep, that's unfortunately true. This is due to a bug in the reporting logic, and should be resolved in our next release. However, it only affects the output log a

[2018-12-09 23:00] emailtowalter commented on #62
Appreciate your response!  I can access the build pack URL in browser. But the root cert and intermediate cert are different with a revocation check cert after. I believe this is a security thing that setup in my company’s network to check the revocation of the cert. I recall I had to add my company’s root cert in java cert store for ssl handshaking work.

Thinking it might be a similar case here

[2018-12-11 13:58] aemengo commented on #62
@emailtowalter If you'd like to append a certificate to the certificate store inside of the application container, the canonical way to modify the `cflinuxfs2-rootfs.trusted_certs` property of the cflinuxfs2-rootfs-setup job in the Cloud Foundry manifest. You could perform the operation in the following way:

[code]
For more information you can look here: https://docs.cloudfoundry.org/running/trus

[2018-12-13 18:58] emailtowalter opened #65 "Is it possible to use 192.168 IP address?"
Hi... CF Dev seems to use 10.144.0.34 on my computer for app instance. Here is the problem:  I can curl the app, but my browser cannot connect to this address. It gives me network error.

After a bit network tracing, I found the root cause: The DNS lookup works fine. But In my company's network, we use PAC file for proxy setting. In the file, 10.144.* is not included as bypass. Hence browser alway

[2018-12-14 16:30] sdawson-pivotal commented on #65
Hey @emailtowalter thanks for reaching out. Let me look into this further. I will get back to you with a definitive answer as to whether we have a solution for you at this time.

[2018-12-14 19:05] emailtowalter commented on #62
Just to give a update on this issue:  I created a java offline buildpack, and cf create-builldpack, then use it for CF push, it worked. But this is just a workaround.

Next step is to try to add the CA into bosh director mentioned on top to resolve it once for all.

Note: I still have to disable the HTTPS_PROXY after CF DEV START to make CLI to work. Hope someone to track it.

[2018-12-14 19:09] emailtowalter commented on #65
thanks for getting back to me. Too bad. I am sure someone in the future will have the same problem.

[2018-12-14 19:09] #65 closed

[2018-12-20 15:33] emailtowalter commented on #62
When I try "bosh -d cf deploy cf.yml", I got a error. Any suggestion?

Using deployment 'cf'

Creating and uploading releases:
  - Uploading release 'cf-mysql/36.15.0':
      stat /var/vcap/cache/releases/cf-mysql-36.15.0-97.18.tgz: no such file or directory
  - Uploading release 'cf-networking/2.17.0':
      stat /var/vcap/cache/releases/cf-networking-2.17.0-97.18.tgz: no such file or directory

[2018-12-20 16:32] aemengo commented on #62
@emailtowalter Apologies, this is due to a lapse in instruction. Since you are redeploying from outside the VM, the manifest must be edited further. Please open `cf.yml` in a text editor, navigated to the `releases:` block and _delete_ the `url:` key-value from every release object. Then try again.

<img width="826" alt="screen shot 2018-12-20 at 11 28 51 am" src="https://user-images.githubusercon

[2018-12-22 21:32] airduster opened #66 "cf dev start: Failed to deploy the Cloud Foundry: process exited with status 1"
downloaded latest version of cf cli (cf-cli-installer_6.41.0_winx64.zip)
and cfdev (cfdev 0.0.12) for Windows 10 running 16gb ram machine.

After following setup instructions
Attempted to run "cf dev start" and got the following output log/error.

The error message

[code]

although it indicates an error occurred doesn't indicate What/Why it occurred.
What is being attempted at "Progress: 7 of 14"

[2018-12-23 03:47] stevewallone commented on #66
I'm having a similar issue on a Mac.
[code]

[2018-12-23 16:53] stevewallone commented on #66
@airduster I figured out my issue. My computer would sleep during the installation. And then fail after it woke up. On the Mac, sleep can be turned off in the `Energy Saver` system preference. Once I turned it off, the installation succeeded.

[2018-12-23 16:56] airduster commented on #66
@stevewallone my pc set to never sleep

[2018-12-23 19:44] airduster commented on #66
@stevewallone thanks for the hint. Nice windows 10 "gotcha". Even though it is set to "Never Sleep" you have to still explicitly define a value for the hard drive sleep in advanced settings. Got it working now.

![image](https://user-images.githubusercontent.com/2158763/50387018-d3e10780-06b8-11e9-996f-c50d0cbaf467.png)

[2018-12-23 22:39] stevewallone commented on #66
@airduster Glad you were able to figure it out! I'm going to submit a pull request and add this to the README.md. If we both experienced it on different platforms, I'm sure others will too.

[2018-12-31 18:06] airduster opened #67 "Connecting to cfdev from LAN how to map ip/host?"
Using Win10 Pro machine would like to connect to pcfdev from another machine on local network with standard config of:

192.168.1.xxx ip address ranges 1-254
192.168.1.1 gateway.

By default pcfdev uses 10.144.0.34 on local machine hosting it (192.168.1.100) and maps to
https://apps.dev.cfdev.sh host.

on the lan we can ping 10.144.0.34 but cannot connect to https://apps.dev.cfdev.sh other than fr

[2018-12-31 21:48] airduster commented on #67
Made some progress on this. Current Hack solution is ( Is there a better one?)

**On machine hosting cfdev/pcfdev (Server)** (mine 192.168.1.100)

**1.**   Open command prompt in administrative mode. mode and enter the following:

 **2.**  now type netsh (press enter) then type the following (substitute your own local machine ip, 127.0.0.1 might work as well)

[code]

**3**.  Verify this is done b

[2019-01-02 14:30] aemengo commented on #67
Connecting to pcfdev from another machine is not functionality that we support. Primarily, this is because of security concerns. We'd much rather that you look into small-footprint cf (https://docs.pivotal.io/pivotalcf/2-4/customizing/small-footprint.html) for this use-case.

[2019-01-02 14:30] #67 closed

[2019-01-02 14:35] aemengo commented on #66
@airduster we've gotten reports of CF Dev consuming a lot of resources. Your issue should be addressed with our next release, coming soon.  🙂

[2019-01-04 22:09] aemengo commented on #66
@airduster Our newest release **v.0.0.13** is out, with major performance updates! Please give this a try and let us know if your issue is fixed.

[code]

[2019-01-04 22:10] aemengo commented on #62
Closing due to inactivity, please respond if you're still running into issues!

[2019-01-04 22:10] #62 closed

[2019-01-04 22:11] aemengo commented on #52
Closing due to inactivity, please respond if you're still running into issues!

[2019-01-04 22:11] #52 closed

[2019-01-04 22:11] aemengo commented on #51
@airduster Our newest release **v.0.0.13** is out, with major performance updates! Please give this a try and let us know if your issue is fixed.

[code]

[2019-01-04 22:11] #51 closed

[2019-01-05 17:13] stevewallone commented on #66
My initial attempt failed. Here's the output. I'll try again. Is there anyway to get more information on what is going on?

[code]

[2019-01-05 18:05] stevewallone commented on #66
I tried again with the same results as above.

[2019-01-05 19:36] aemengo commented on #66
@stevewallone Could you please run the following command and report the output?

[code]

[2019-01-07 03:10] stevewallone commented on #66
Here's a zip of the log directory.

[log.zip](https://github.com/cloudfoundry-incubator/cfdev/files/2731280/log.zip)

[2019-01-07 04:10] aemengo commented on #66
@stevewallone the `10.144.0.34` address seems to be occupied on your machine. I wonder if you already had an instance of CF Dev running. Please run `cf dev stop` before trying again. And, if that does not work, perhaps consider a machine reboot.

[2019-01-07 09:39] airduster commented on #66
@aemengo It is on mine even with the vmmem.exe process killed, I attempted a reboot but `10.144.0.34` IP is still active. Looks like one it fails midway during `cf dev start` it leaves the machine in a bad state and upon bootup retains the special network setting CF is setting up.

[2019-01-07 13:15] #19 closed

[2019-01-07 13:16] #24 closed

[2019-01-07 13:16] #25 closed

[2019-01-07 13:17] aemengo commented on #49
available in **v0.0.13**

[2019-01-07 13:17] #49 closed

[2019-01-07 13:17] #50 closed

[2019-01-07 13:17] #54 closed

[2019-01-07 13:19] aemengo commented on #37
some improvements in this area available in **v0.0.13**. Estimated start up time is now ~10min.

[2019-01-07 13:19] #37 closed

[2019-01-07 15:59] aemengo commented on #63
Addressed with: https://github.com/cloudfoundry-incubator/cfdev#recommended-system-requirements
Thanks!

[2019-01-07 15:59] #63 closed

[2019-01-07 15:59] aemengo commented on #32
Addressed with: https://github.com/cloudfoundry-incubator/cfdev#recommended-system-requirements
Thanks!

[2019-01-07 15:59] #32 closed

[2019-01-07 17:39] iamtpage opened #68 "cf dev start: Unable to setup directories: failed to untar the desired parts of the tarball: gzip: invalid header"
Hi,

When I try to install pcf-dev with the latest cf dev (0.0.13), I get the following error:

[code]

The release before this one the deployment worked just fine. I also tried deleting the pcf-dev ISO file and redownloading it from pivnet, which results in the same error.

Operating System: Windows 10 with Hyper-V enabled
`cf dev` version: 0.0.13
`pcf-dev` version: `pcfdev-pas.v.2.0.22.0-build.0

[2019-01-07 19:00] iamtpage commented on #68
Just confirmed installing cf dev `0.0.12` manually via `cf install-plugin -f` fixes this issue:

[code]

[2019-01-07 20:49] iamtpage commented on #68
Hi,

Thanks for the prompt reply. How soon is "shortly"? I have a deliverable that involves cf dev and pcf dev due by the end of the week and would like to use the new update if possible! Really looking forward to the reduction in start up time.

Thank you,

Tyler Page

-------- Original Message --------
On Jan 7, 2019, 2:29 PM, Anthony Emengo wrote:

[2019-01-07 21:55] aemengo commented on #66
@airduster It's not the most intuitive, but running `cf dev stop` when CF Dev fails is the way to "clean-up", *before* running again.

[2019-01-08 01:41] airduster commented on #66
@aemengo cf dev start won't execute if I attempt to run it after it fails halfway with an instance already running error. So you have to cf dev stop.

[2019-01-08 13:18] #1 closed

[2019-01-08 20:14] sdawson-pivotal commented on #68
Hey @iamtpage the pcf artifacts are up and ready for download:
https://network.pivotal.io/products/pcfdev

[2019-01-08 20:37] iamtpage commented on #68
Holy cow, thanks for the quick turnaround! @sdawson-pivotal @aemengo

[2019-01-08 20:37] #68 closed

[2019-01-09 15:38] codeaches commented on #66
@aemengo I am facing similar issue with "cf dev start -f pcfdev-pas.v.2.0.22.0-build.0.0.71-windows.tgz -s scs".
I followed https://network.pivotal.io/products/pcfdev#/releases/274428.

The error I see is ....
[code]
deploy-spring cloud services.log says
[code]
Not sure where the logs are "Review logs for failed jobs: rabbitmq-server"...
[deploy-spring cloud services.log](https://github.com/cloudf

[2019-01-09 15:52] aemengo commented on #18
@richard-cox Our plans for linux support haven't changed. This was closed because this is a (non-trivial) feature request, as opposed to an issue. We'd rather not have GitHub issues for tracking long-running feature requests.

[2019-01-09 15:56] chipchilders commented on #18
Is there a link to a tracker story or epic that people can watch?

On Wed, Jan 9, 2019 at 10:52 AM Anthony Emengo <notifications@github.com>
wrote:

[2019-01-09 17:32] codeaches commented on #66
@aemengo , yes it is systematically failing for me (Tried few times). `cf dev stop` followed by `cf dev start -f pcfdev-pas.v.2.0.22.0-build.0.0.71-windows.tgz -s scs` results in exact same error.

fyi: `cf dev start -f pcfdev-pas.v.2.0.22.0-build.0.0.71-windows.tgz` works successfully, however I do need Spring Cloud Services hence I was trying with `-s scs` option.

[2019-01-09 19:08] aemengo commented on #66
@codeaches Could please run the following commands and attach the artifact? Additionally you may be able to get more "real-time" assistance in the *cfdev* channel at https://cloudfoundry.slack.com.

[code]

[2019-01-09 20:09] sdawson-pivotal commented on #18
On second thought, we think keeping this issue open will be the most efficient way for folks to follow it's progress. Re-opening.

[2019-01-09 21:35] sdawson-pivotal commented on #68
@iamtpage would you mind sharing a bit about your use case? We are looking to better understand how people are using CF / PCF Dev, and what they are looking for. Your answers to this 4 question survey would be very helpful to us: https://goo.gl/forms/3OHzU2S5907hiu5r1

[2019-01-09 21:37] sdawson-pivotal commented on #65
@emailtowalter would you mind sharing a bit about your use case? We are looking to better understand how people are using CF Dev, and what they are looking for. Your answers to this 4 question survey would be very helpful to us: https://goo.gl/forms/3OHzU2S5907hiu5r1

[2019-01-09 21:37] sdawson-pivotal commented on #63
@joaompinto would you mind sharing a bit about your use case? We are looking to better understand how people are using CF Dev, and what they are looking for. Your answers to this 4 question survey would be very helpful to us: https://goo.gl/forms/3OHzU2S5907hiu5r1

[2019-01-09 21:43] sdawson-pivotal commented on #54
@betht1220 would you mind sharing a bit about your use case? We are looking to better understand how people are using CF Dev, and what they are looking for. Your answers to this 4 question survey would be very helpful to us: https://goo.gl/forms/3OHzU2S5907hiu5r1

[2019-01-09 21:46] sdawson-pivotal commented on #42
@grindrt would you mind sharing a bit about your use case? We are looking to better understand how people are using CF Dev, and what they are looking for. Your answers to this 4 question survey would be very helpful to us: https://goo.gl/forms/3OHzU2S5907hiu5r1

[2019-01-09 21:47] iamtpage commented on #68
@sdawson-pivotal Sure thing, just submitted my response.

[2019-01-10 08:57] joaompinto commented on #63
@sdawson-pivotal done. Thanks for the attention.

[2019-01-10 10:11] arittner commented on #66
We facing exactly the same issue with pcf dev and the default memory settings (8GB). I've tried -m 10240 (fails on deploying scs) and currently -m 16834 (and still waiting).

With cf-dev the default memory 8GB is absolute the lowest limit. Sometimes it works, sometimes we get random failures. With -m 10240 it works much better. But if you have only 16GB physical RAM your system swaps around and sl

[2019-01-11 10:12] joaompinto commented on #18
Hi,
because I also had the need  of using a CF environment on Linux for lab purposes, I have created a set of scripts that should be sufficient for creating a lab. In any case, a CFDev (vm/containerized) approach is a better option.

If possible please share the branch/repo that you will be using for the Linux support, I would like to be able to collaborate on that.

The links for the scripts:
htt

[2019-01-14 20:45] sdawson-pivotal commented on #67
@airduster would you mind sharing a bit about your use case? We are looking to better understand how people are using CF / PCF Dev, and what they are looking for. Your answers to this 4 question survey would be very helpful to us: https://goo.gl/forms/3OHzU2S5907hiu5r1

[2019-01-14 20:46] sdawson-pivotal commented on #59
@rhuiser would you mind sharing a bit about your use case? We are looking to better understand how people are using CF / PCF Dev, and what they are looking for. Your answers to this 4 question survey would be very helpful to us: https://goo.gl/forms/3OHzU2S5907hiu5r1

[2019-01-14 20:47] sdawson-pivotal commented on #58
@betht1220 would you mind sharing a bit about your use case? We are looking to better understand how people are using CF / PCF Dev, and what they are looking for. Your answers to this 4 question survey would be very helpful to us: https://goo.gl/forms/3OHzU2S5907hiu5r1

[2019-01-14 20:48] sdawson-pivotal commented on #55
@teespoon would you mind sharing a bit about your use case? We are looking to better understand how people are using CF / PCF Dev, and what they are looking for. Your answers to this 4 question survey would be very helpful to us: https://goo.gl/forms/3OHzU2S5907hiu5r1

[2019-01-14 20:49] sdawson-pivotal commented on #52
@babuz would you mind sharing a bit about your use case? We are looking to better understand how people are using CF / PCF Dev, and what they are looking for. Your answers to this 4 question survey would be very helpful to us: https://goo.gl/forms/3OHzU2S5907hiu5r1

[2019-01-14 20:49] sdawson-pivotal commented on #51
@bennedm would you mind sharing a bit about your use case? We are looking to better understand how people are using CF / PCF Dev, and what they are looking for. Your answers to this 4 question survey would be very helpful to us: https://goo.gl/forms/3OHzU2S5907hiu5r1

[2019-01-14 20:52] sdawson-pivotal commented on #47
@rockebee would you mind sharing a bit about your use case? We are looking to better understand how people are using CF / PCF Dev, and what they are looking for. Your answers to this 4 question survey would be very helpful to us: https://goo.gl/forms/3OHzU2S5907hiu5r1

[2019-01-14 20:54] sdawson-pivotal commented on #41
@drnic would you mind sharing a bit about your use case? We are looking to better understand how people are using CF / PCF Dev, and what they are looking for. Your answers to this 4 question survey would be very helpful to us: https://goo.gl/forms/3OHzU2S5907hiu5r1

[2019-01-14 20:55] sdawson-pivotal commented on #38
@DougiePop would you mind sharing a bit about your use case? We are looking to better understand how people are using CF / PCF Dev, and what they are looking for. Your answers to this 4 question survey would be very helpful to us: https://goo.gl/forms/3OHzU2S5907hiu5r1

[2019-01-14 21:51] drnic commented on #41
IMO a program should immediately prompt for all information it might need. When I raised this ticket, the command would start running and not prompt, so you’d walk away and wait 30 mins for it to complete. You’d come back and it would be prompting for sudo access; and wouldn’t have yet started the rest of the 30+ mins of work.

I haven’t used newer cfdev releases for a couple months sorry.

[2019-01-15 01:28] jsfranko opened #69 "Normal user missing windows cfdev"
Normal “user” missing in windows 0.0.13 cf dev start -f ..., only admin user exists with system org and space.

[2019-01-15 18:05] rhuiser commented on #59
Hi Samuel,

I filled out the survey (submitted as robin.huiser@rdc.pt)

Regards, met vriendelijke groet,

Robin Huiser
On 14 Jan 2019, 20:46 +0000, Samuel Dawson <notifications@github.com>, wrote:

[2019-01-16 16:17] aemengo commented on #69
@jsfranko Unfortunately, we're not able to reproduce. The password for the normal "user" is `pass`. If the following does not work for you, you might have had a bad start session:

[code]

[2019-01-16 16:20] jsfranko commented on #69
I think we used the right cf commands to look for the accout and it appeared not
To exist. After dev stop and another dev start, the user account worked. If we see it happen again what logs can we gather for you?

[2019-01-16 16:22] aemengo commented on #66
There's not much more to say on this. More than likely, `cf dev start` failing in this manner is due to a lack of system resources. We have our recommended system requirements listed here: https://github.com/cloudfoundry-incubator/cfdev#recommended-system-requirements. But please keep in mind that laptops typically have less power than their desktop counterparts.

As always, we will continue striv

[2019-01-16 16:22] #66 closed

[2019-01-16 16:27] aemengo commented on #69
@jsfranko The logs to look out for in this case can be found here: `~\.cfdev\log\deploy-cf.log`. If this issue happens again, then it would be evident in that file, towards the bottom. Moreover, most of the logs that pertain to CF Dev can be found in `~\.cfdev\log`.

If this is functionality that is not working robustly, then we'll be sure to address it.

[2019-01-16 16:27] #69 closed

[2019-01-17 07:53] airduster commented on #66
not a laptop, 4 cores, 16 gb ram

[2019-01-23 04:55] codeaches opened #70 "Missing redis service when pcfdev is started with scs option enabled"
I could not see redis in marketplace when I tried to run pcfdev with "-s scs" enabled. Please see details below
[with_scs_missing_redis.txt](https://github.com/cloudfoundry-incubator/cfdev/files/2785719/with_scs_missing_redis.txt)
[non_scs_success.txt](https://github.com/cloudfoundry-incubator/cfdev/files/2785720/non_scs_success.txt)

. Please note that redis shows up if run pcfdev without "-s scs

[2019-01-24 19:34] codeaches commented on #70
Ok, thank you. Just curious to know if there any work around while your team looks into it?

Thanks,
Pavan

[2019-01-24 19:42] codeaches opened #71 "PCF Dev: cf create-service p.rabbitmq solo my_rabbit fails with both solo and cluster plans"
In PCF Dev, the `cf create-service p.rabbitmq solo my_rabbit` fails with both solo and cluster plans.

The log error is as shown below.
Note: PCF dev was started using the command `cf dev start -c 12 -m 18432 -f pcfdev-pas.v.2.0.22.0-build.0.0.71-windows.tgz`. I have also used the command `cf install-plugin -r CF-Community "cfdev"` before starting the `cf dev`.

**Error in log**
[code]

**Also, th

[2019-01-24 19:43] codeaches commented on #71
Ok, thank you. Just curious to know if there any work around while your team looks into it?

Thanks,
Pavan

[2019-01-25 15:50] aemengo commented on #70
Hey @codeaches

When you run CF Dev with the `-s scs` flag, redis is disabled by design. This is due to `scs` requiring more system resources that its counterparts. The only reason that `p-mysql` and `p-rabbitmq` are present is because they are required by `scs`. To opt into redis and spring cloud together, you can specify multiply services as a comma separated list: `-s scs,redis`. Moreover, ther

[2019-01-25 15:50] #70 closed

[2019-01-25 17:06] aemengo commented on #71
@codeaches We're not able to reproduce this issue. What does the CF CLI output say (on the terminal window), when it fails.

Yes this is intentional. The `p-rabbitmq` and `p.rabbitmq` services that CF Dev provides are somewhat different. `p.rabbitmq` is default rabbitmq, which can be explicitly enabled with the `-s rabbitmq` flag or with a standard start. This is the rabbitmq that will contain the

[2019-01-25 18:44] aemengo commented on #71
@codeaches We're not able to reproduce this issue. What does the CF CLI output say (on the terminal window), when it fails.

[code]

Yes this is intentional. The `p-rabbitmq` and `p.rabbitmq` services that CF Dev provides are somewhat different. `p.rabbitmq` is default rabbitmq, which can be explicitly enabled with the `-s rabbitmq` flag or with a standard start. This is the rabbitmq that will con

[2019-01-26 07:21] codeaches commented on #71
@aemengo , this is the error I get when I execute `cf service my_rabbit1`. It's the same error for both `solo` and `cluster`.

[code]

[2019-01-27 12:07] davidrichardson opened #72 ""cf dev start" consistently fails on iMac / MacOS Mojave 10.14.2"
Hi,

I installed cf cli using homebrew (cf version 6.42.0+0cba12168.2019-01-10) and I'm trying to install cfdev
 and the process is failing at this point (after running `cf dev start`):

[code]

I've attached the contents of the `~/cfdev/log` . The most recent writes to the logs are in vpnkit.stderr.log, with a lot of failed DNS lookups, eg:

[code]

The system is an iMac running MacOS Mojave 10.1

[2019-01-27 17:49] s-h-o-g-u-n opened #73 "cf service-key host name (now ip address) not accessable from outside"
Version pcfdev-v0.30.0 and older versions generates a host name like redis-broker.local.pcfdev.io for a redis service.
[code]
With pcfdev-pas.v.2.0.22.0-build.0.0.71-windows and the latest cf cli version 6.42, the service-key command shows now an IP address.
[code]
This IP Address is not accessable from outside cf, like the redis-broker.local.pcfdev.io address before.

Use case: Access the redis s

[2019-01-30 01:12] ranadeep-sh commented on #68
@iamtpage
Did you try out the updated version mentioned by @sdawson-pivotal ?
I am still seeing the same error as you had observed earlier.

@sdawson-pivotal Please refer attached screen-shot and kindly let me know what I might have missed.
Thanks in advance.
![screenshot](https://user-images.githubusercontent.com/19390028/51951312-21f8d180-2402-11e9-8699-9b5c62645ce1.JPG)

[2019-01-30 01:17] ranadeep-sh opened #74 "cf dev start: Unable to setup directories: failed to untar the desired parts of the tarball: gzip: invalid header"
Can someone help in finding out what I am missing that's causing startup failure (seen in 1st screenshot)?

As you can see in 2nd screenshot, I am using the latest version of the CF CLI tool.
![cf_dev_start_error](https://user-images.githubusercontent.com/19390028/51951499-dbf03d80-2402-11e9-97e4-208c724fe1d5.JPG)
![screenshot](https://user-images.githubusercontent.com/19390028/51951502-df83c480-2

[2019-01-30 01:35] aemengo commented on #74
Passing that iso to the `-f` flag is the incorrect way to invoke the tool. You instead need to pass the tarball that you recently downloaded off of Pivotal Network to the `-f` flag. For example:

[code]

[2019-01-30 03:04] iamtpage commented on #68
@ranadeep-sh yes, upgrading both cf dev and pcf-dev to their latest versions resolved the issue for me

[2019-02-01 02:37] ranadeep-sh commented on #74
Thanks @aemengo for the quick response.
It looks like the startup required atleast 8GB of RAM (attached screenshot).
Is there a way to start by specifying less than 8 GB of RAM ?
![need_4_8gb_ram_error](https://user-images.githubusercontent.com/19390028/52099246-61f5bb00-25a0-11e9-94dc-50d4394ade9b.JPG)

[2019-02-01 03:17] aemengo commented on #74
@ranadeep-sh That's just a warning message, I don't think memory was the reason that start failed here. Perhaps the VM was put in a bad state from the previous run. Please execute a stop command (to clean up any leftover state) and then start again.

[code]

In addition, you can specify memory to the start command with the `-m` flag in megabytes, but I'd only recommend using the flag to _increase_

[2019-02-02 22:16] aemengo commented on #74
@ranadeep-sh Unfortunately, I think you've uncovered a bug. Our code is not ready for the literal space character `' '` in your HOME directory path. The workaround would be to change the working directory of CF Dev to a location without a space character, via the `CFDEV_HOME` environment variable. For example:

[code]

Please let us know if this works for you and we'll rectify the issue as soon as

[2019-02-04 14:00] ranadeep-sh commented on #74
@aemengo
Thank you. I will definitely try this out and get back.
Appreciate your prompt response.

[2019-02-05 15:22] aemengo commented on #73
@s-h-o-g-u-n Apologies for the delay on this. CF Dev (and CF itself) has gone through many changes and I wanted to make sure that you were getting the appropriate response. The best way going forward to interact with your redis instance is via CF ssh _port forwarding_. In this case, if you've bound "my-app" to this redis instance, if would look like this:

[code]

Then you could access the redis s

[2019-02-06 03:19] ranadeep-sh commented on #74
I changed the path, as suggested.
But still running into same issue.
![cf_dev_start_error](https://user-images.githubusercontent.com/19390028/52318757-0f4b4300-2994-11e9-99c6-dac565edaf33.JPG)

[2019-02-06 12:57] aemengo commented on #74
@ranadeep-sh That looks like a new powershell window. If you set the environment in _another_ powershell window, it will not carry over into a new one. You can see if it applied by executing `dir env:` in your current window and seeing if `CFDEV_HOME` is the table printed.

Please try the command again but this time in the same window that you are executing `cf dev start` in. You will know that it

[2019-02-06 19:39] s-h-o-g-u-n commented on #73
Hi @aemengo, thanks for ur response. The problem with ur suggested solution is, there is no app in my use case scenario. I want to access the service without any pushed app from outside cf. It was possible in the "old" 0.30 Version. From my point of view as an app developper, I want to run a micro service with full access to the rabbitmq and redis service, before I push it to cf.

[2019-02-07 01:12] ranadeep-sh commented on #74
@aemengo
Hi Anthony. I tried setting said environment variable and then running the start command. It complains that the tar file could not be found. So, I re-ran start command with full path of tar file and this time it created the following files.
![cf_dev_start_error](https://user-images.githubusercontent.com/19390028/52384326-0ff2e080-2a4b-11e9-9d12-41cf3a747fba.JPG)

But, unfortunately, the C

[2019-02-07 01:30] ranadeep-sh commented on #74
@aemengo
A ping to the hostname went fine, though. Strange.
![cf_dev_start_error](https://user-images.githubusercontent.com/19390028/52384982-cd7ed300-2a4d-11e9-828d-ffa287980c30.JPG)

[2019-02-07 19:01] aemengo commented on #73
@s-h-o-g-u-n You're making valid points but, unfortunately, there's not much that this team can do to alleviate this issue. We are only responsible for packaging CF for a local use case, but the functionality that you're referring simply is no longer present in the newer releases of the [redis release](https://github.com/pivotal-cf/cf-redis-release/).

[2019-02-07 19:02] #73 closed

[2019-02-07 19:15] aemengo commented on #72
@davidrichardson Are you running the latest release for the CF Dev plugin [0.0.13](https://github.com/cloudfoundry-incubator/cfdev/releases/tag/v0.0.13)?

You can verify by running:
[code]

[2019-02-07 19:22] aemengo commented on #74
@ranadeep-sh `cf dev ...` commands giving no output is definitely cause for concern. There must be some invalid state for this to be happening. Perhaps it is worth killing any **cf** processes in Activity Monitor before trying again. If the powershell windows exited, then there's a chance that the start command was running in the background.

For more real-time assistance, please try the `#cfdev`

[2019-02-07 20:09] davidrichardson commented on #72
Yes, 0.0.13

[2019-02-07 20:18] aemengo commented on #72
@davidrichardson To be honest, I'm not very sure. The usual suspect for failures to start, as your logs display, are due to some sort of resource constraint. For example, lack of available RAM or otherwise. Do you suppose that your workstation could compromised in this way?

[2019-02-07 21:03] davidrichardson commented on #72
That seems unlikely, the machine has 32Gb RAM more than 1Tb of storage
available.

For comparison, I successfully installed cfdev on my work laptop (Macbook
Pro, 16GB RAM, High Sierra) without any issues.

On Thu, 7 Feb 2019 at 20:18, Anthony Emengo <notifications@github.com>
wrote:

--
Dave Richardson
david.m.richardson@gmail.com

[2019-02-07 21:59] bitsnbites010 opened #75 "dev.cfdev.sh connect to host (Mac)"
host running mongo db at localhost:27017
cfdev running node app

using local IP address or host.cfdev.sh errors out with message "MongoNetworkError: connect ECONNREFUSED"

[2019-02-08 07:29] #71 closed

[2019-02-08 08:11] aemengo commented on #72
@davidrichardson Some iMacs achieve these high disk capacities by opting for their relatively slow _Fusion Disk_ or regular HDD. Can you please confirm that your iMac is not backed by a SSD (like your laptop most likely is). To find out, you can visit use Spotlight to visit `System Information > Hardware > Storage`

<img width="717" alt="screen shot 2019-02-08 at 3 05 11 am" src="https://user-imag

[2019-02-08 08:24] aemengo commented on #75
@bitsnbites010 If your mongodb instance is only accessible by _localhost_, this could be an issue because your node app will have its own notion of localhost while running in CF. Could you try having mongodb listen on all interfaces `@0.0.0.0:27017` and see if the issue persists?

[2019-02-08 08:51] davidrichardson commented on #72
You're right, the iMac has a fusion disk and the laptop has an SSD

On Fri, 8 Feb 2019 at 08:11, Anthony Emengo <notifications@github.com>
wrote:

--
Dave Richardson
david.m.richardson@gmail.com

[2019-02-08 13:05] aemengo commented on #72
@davidrichardson Unfortunately I don't think your iMac will support CF Dev - as is. The start process is a very disk I/O intensive process and requires fast and robust flash storage like that found in SSDs. I think the path of least resistance would be to get a portable SSD and try to run CF Dev from there, using the `$CFDEV_HOME` environment variable.

https://www.samsung.com/us/computing/memory-

[2019-02-08 13:05] #72 closed

[2019-02-08 13:24] davidrichardson commented on #72
Thanks for your help, and for updating the system requirements docs.

[2019-02-08 18:08] krishbiswas commented on #54
@sdawson-pivotal have taken the survey. Thanks. Any update on the request here on this thread? Would be great have the ability to start/stop the VM w/out destroying it completely.

[2019-02-08 19:30] aemengo commented on #54
@krishbiswas I'd like to address the concerns around suspend/resume since it has come up before. The architecture of CF Dev is largely dependent on the Docker (Docker Desktop). Thus, core VM features like suspend/resume would have to come from upstream before we could easily incorporate it.

That being said, perhaps a better way to track the progress of this feature is to see when they can address

[2019-02-11 06:14] bitsnbites010 commented on #75
my mongo instance running on local is open to accept connections from any connector on the network. what I am looking for is something similar to https://github.com/pivotal-cf/pcfdev/blob/master/FAQ.md but for cf dev.

[2019-02-11 08:37] guptaavi opened #76 "Windows 10 Hyper V host.cfdev.sh mapping lost after network switch"
After initially starting cfdev on my Windows 10 laptop, applications running on cfdev are able to access the host using host.cfdev.sh. But after "pausing" the VM in Hyper-V, suspending laptop and then "resuming" the VM, the deployed applications are no longer able to access services (e.g. mongodb) running on the host using host.cfdev.sh (Exception: java.net.UnknownHostException: host.cfdev.sh).
I

[2019-02-11 12:59] aemengo commented on #75
@bitsnbites010 Connections from CF Dev applications to the host machine is something we explicitly test before release so I'd be very surprised if this was not working out the box. But here are some troubleshooting instructions to help isolate the issue.

First we check to see that the dns name `host.cfdev.sh` is getting resolved correctly. It should look like below:
[code]

Then I'm checking that

[2019-02-11 15:08] sdawson-pivotal commented on #76
Hi @guptaavi thank you for reaching out. Would you mind telling us more about your cf dev use case? We are gathering feedback from our users and your input would be much appreciated. Here is a 4 question survey: https://goo.gl/forms/pztZuTcEgoK4jSjz1 Thank you!

[2019-02-13 20:15] emailtowalter opened #77 "CF DEV start failed for 0.0.13 build"
Upgrade to 0.0.13 CLI on my macbook.

Run cf dev stop, then cf dev start....
"
Downloading Network Helper...
Progress: |====================>| 100.0%
Installing cfdevd network helper...
Installing networking components (requires root privileges)
Password:
Setting up IP aliases for the BOSH Director & CF Router (requires administrator privileges)
Downloading Resources...
Progress: |================

[2019-02-13 22:04] aemengo commented on #77
@emailtowalter could you please post the contents of `~/.cfdev/log/deploy-cf.log`?

[2019-02-14 07:08] bitsnbites010 commented on #75
switched my host connection to use host.cfdev.sh and it works... thanks much @aemengo

is this documented somewhere?

[2019-02-14 10:10] shaunfink opened #78 "Unable to start PCFDev due to certificate issues"
I am trying to load up PCF Dev on my Mac. I have followed the documentation on the pcf-dev site: https://pivotal.io/platform/pcf-tutorials/getting-started-with-pivotal-cloud-foundry-dev/introduction

I've installed the cf cli, and the dev plugin as per the documentation.

[code]

Then running the cf dev start command, I get the following output:

[code]

I've had a look, and if running a cf dev ss

[2019-02-14 12:58] aemengo commented on #78
@shaunfink Unfortunately, that was outdated documentation that you were following, which we will rectify soon. You've installed an outdated version of CF Dev which has certificates baked into it that have now expired

<img width="515" alt="screen shot 2019-02-14 at 12 10 51 am" src="https://user-images.githubusercontent.com/4236888/52764402-f8d56500-2fed-11e9-9851-f2a24e723a20.png">

The way to up

[2019-02-14 12:58] #78 closed

[2019-02-14 13:02] aemengo commented on #75
@bitsnbites010 At this moment, the new documentation is not up yet. I apologize for the misleading information that lead you astray the first time.

[2019-02-14 13:02] #75 closed

[2019-02-14 15:35] shaunfink commented on #78
@aemengo - Thanks for this. I'll give it a shot and see how it goes. Will update here if I have any more issues.

[2019-02-14 16:06] emailtowalter commented on #77
here you go. it seems the I cannot download https://storage.googleapis.com/cf-deployment-compiled-releases/bosh-dns-aliases-0.0.3-ubuntu-xenial-170.13-20181214-220259-630417653.tgz. I tried to use CURL, it worked.

In browser, I can see the site's root cert, intermedia cert are replaced with our own company's certs and SSL revocation cert for security reason.

"Using environment '10.144.0.4' as cl

[2019-02-14 18:51] aemengo commented on #77
@emailtowalter the implementation details from `0.0.12` -> `0.0.13` are significant. I believe that is the only artifact retrieved from the internet for the start process. Is there a way that you can make the certificate at that domain trusted for your machine and then try again?

[2019-02-14 19:55] emailtowalter commented on #77
The problem is that I believe it is trusted already. The evidence is that curl command works.

Other than the standard keystone on my MacBook, anywhere else I should add certain into?

Walter Wu

[2019-02-15 19:04] guptaavi commented on #76
Anyone who can help with this issue? I noticed that after doing 'cf dev start' I can use the jumpbox account to ssh into the Hyper-V VM. From this ssh session, I am able to do a nslookup host.cfdev.sh. However, after a network switch, this host mapping is lost. Any ideas on how to "manually" restore the routes on the VM and on the host?

[2019-02-20 15:26] #74 closed

[2019-02-20 16:48] aemengo commented on #76
@guptaavi Unfortunately, this is functionality that we simply do not support as of right now, primarily because Hyper-V is the component orphaning the virtual network switch, not us. As of right now, we have no resolution to advise.

[2019-02-20 16:48] #76 closed

[2019-02-21 20:11] aemengo commented on #77
@emailtowalter Thank you for submitting an issue about this. This is definitely a bug on our end: nothing should be downloaded from the internet during the start process. With your assistance, we've just resolved this issue and the next release will not have this behavior.

Regardless, for now, the problem you're having is evident. That url cannot be downloaded on your machine and it is very likel

[2019-02-21 20:11] #77 closed

[2019-02-21 20:41] emailtowalter commented on #77
Good to know that it helps. What is the eta for the next release?

Walter Wu

[2019-02-27 21:23] kishorekkota commented on #77
I am running into same issue. Can someone help with instruction on how to make this file available to cfdev ? Or any ETA on next release ?

[2019-02-28 21:08] Oxicode opened #79 "No tiene ningún binario disponible para la plataforma."
![image](https://user-images.githubusercontent.com/1320709/53598569-1ae4f080-3b73-11e9-929d-e0279a39c296.png)

[2019-03-01 21:59] aemengo commented on #79
There's currently no offering of this product on the linux platform. Your only option is to retrieve our previous deprecated product here:

https://network.pivotal.io/products/pcfdev#/releases/314093

[2019-03-01 21:59] #79 closed

[2019-03-06 13:01] aemengo commented on #77
@emailtowalter @kishorekkota Apologies for the delay. The next release is finally available, with the discussed issue resolved.

[code]

[2019-03-07 02:31] soickm opened #80 "Unable to install"

[2019-03-07 02:39] soickm commented on #80
Good evening,

I am trying to install  cf dev on a windows pro with 16GB of RAM.

After a lengthy download and following the instructions provided on https://docs.pivotal.io/pcf-dev/install-windows.html,

It has been over 30 minutes and all I see is:
D:\projects\CloudFoundry>cf dev start -f pcfdev-v1.1.0-windows.tgz
Setting up IP aliases for the BOSH Director & CF Router (requires administrator pr

[2019-03-07 02:39] #80 closed

[2019-03-07 02:41] soickm opened #81 "Unable to start cfdev 1.1.0 on Windows"
Good evening,

I am trying to install cf dev on a windows pro with 16GB of RAM.

After a lengthy download and following the instructions provided on https://docs.pivotal.io/pcf-dev/install-windows.html,

It has been over 30 minutes and all I see is:
[code]
There isn't a log telling me what happened, nor any indication of what is happening.

I don't see any troubleshooting guides for pcfdev, so I d

[2019-03-07 02:43] soickm commented on #81
If it helps:

C:\Users\root>cf dev version

CF Dev collects anonymous usage data to help us improve your user experience. We intend to share these anonymous usage analytics with user community by publishing quarterly reports at :

https://github.com/pivotal-cf/cfdev/wiki/Telemetry

Are you ok with CF Dev periodically capturing anonymized telemetry [y/N]?> N
CLI: 0.0.14
BUILD: 33 (026b7aa)

pas: 2.

[2019-03-07 03:04] soickm commented on #81
Ok - so after a good 20 minutes I got this:

Setting State...
Creating the VM...
Starting VPNKit...
Starting the VM...
FAILED
cf dev start: starting the vm: start-vm: failed to execute: powershell.exe -Command "Start-VM -Name cfdev": exit status 1: Start-VM : 'cfdev' failed to start.
Synthetic SCSI Controller (Instance ID 21EFE75D-9669-4F99-917C-5288B27FAFE7): Failed to Power on with Error 'The
re

[2019-03-07 03:14] soickm commented on #81
OK - so I think it has to do with either disk space or the fact the boot disk is compressed. But I configured hyper-V to create vhd on another drive. It isn't good practice to create VHD on the boot disk anyway. Is there some hard coding to write V disks on the root volume and the root user?

[2019-03-07 07:36] aemengo commented on #81
The VHD is currently `~18GB` in size, before provisioning. If you're saying that `C:` Drive is compressed, then that's probably the issue.

By default, it uses the current user and the current user's home directory. You can configure a different working directory by using the `$CFDEV_HOME` environment variable:

[code]

[2019-03-12 19:35] #81 closed

[2019-03-26 14:09] ranadeep-sh commented on #74
Hi @aemengo ,

I am disappointed that you closed the issue even without coming to a reasonable conclusion.

1) It doesn't make sense to even attempt running PCFDEV with memory limitation < 8 GB when it itself is saying 8 GB is needed at a minimum. Now, I have upgraded my laptop's physical memory to 16 GB. But, restart is still failing at Step# 8 of 14, everytime. **Is there some log file generated

[2019-03-26 14:37] aemengo commented on #74
@ranadeep-sh Sorry I'm a bit overzealous about closing these because it gets really hard to manage new items when these pile up. Moreover, I hadn't heard any response from you in a while from either here or our public slack forum (where we can assist you in a more real-time manner).

But the answer to `1.` is **yes**. The log files can be found at `~/.cfdev/log` (provided that the CFDEV_HOME envir

[2019-04-04 08:15] zoosm3 opened #82 "Unable to start pcfdev on Windows 10 due to folder creation error"
Hello,

I am using Windows 10 and tried `cf dev start` but failed. I run the following command with an  Administrator user.

[code]

It says "The directory in the temporary folder C:\Users\myuser\AppData\Local\Temp\ could not be created.", but I can create a file in `C:\Users\myuser\AppData\Local\Temp\` using `copy` command and my user has a full privileged access permission to the folder .

Is th

[2019-04-04 14:16] aemengo commented on #82
@zoosm3 Unfortunately, we're ill-equipped to help here, as this issue seems to stem from your machine and not CF Dev itself.

You can perhaps reach out to the Microsoft forums why the following command does not work on your machine:
[code]

[2019-04-04 14:16] #82 closed

[2019-04-08 20:03] aemengo commented on #18
Version 0.0.15 released with support for the linux platform. Find out more info here: https://github.com/cloudfoundry-incubator/cfdev/releases/tag/v0.0.15

[2019-04-08 20:03] #18 closed

[2019-04-11 15:26] loganmzz opened #83 "How to enable Windows 10 Hyper-V support ?"
When I run `cf dev start`, I got: `FAILED Error: could not find VBoxManage executable.`

How to get it working with Windows 10 Hyper-V ?

[2019-04-11 15:52] aemengo commented on #83
@loganmzz You're not using the current iteration of CF Dev (the one produced by this repository). Please perform the following to upgrade:

[code]
And then you can perform a start with Hyper-V support.

[2019-04-11 15:52] #83 closed

[2019-04-19 17:22] ClumsyPotato opened #84 "unexpected end of JSON input"
Hey i am trying to start pcfdev version 1.2.0 on linux

I downloaded the .tar file and i am executing it with cf dev start -f <.tar>

However it fails after some time when trying to fetch the VM Adress with the error message unexpected end of JSON input

I guess the vm started put i cant access it via api.local.pcfdev.io

cf version 6.43.0+815ea2f3d.2019-02-20
cfdev version 0.0.15
virtualbox versi

[2019-04-19 19:06] aemengo commented on #84
@ClumsyPotato As mentioned in our [README.md](https://github.com/cloudfoundry-incubator/cfdev#recommended-system-requirements), Linux support requires `QEMU and Libvirt`, did you install that already?

[2019-04-20 01:51] betht1220 opened #85 "bosh.yml"
Can you tell me how to obtain the bosh manifest file for cfdev - Thanks

[2019-04-20 02:14] betht1220 opened #86 "uaa"
I notice that pcfdev v1.2.0 does not have a uaa vm? or am I missing something.
I need to connect this uaa vm to ldap server

Thanks

[2019-04-20 08:06] ClumsyPotato commented on #84
@aemengo
yep i did

[2019-04-20 10:26] aemengo commented on #84
Looks like there was issue reading the `libvirt` interface status file. By default we try to use the `virbr0` interface.

Could read the file at `/var/lib/libvirt/dnsmasq/virbr0.status` and see if it contains valid json? It should be written as root so you might wanna do the following (just as the CLI is doing):

[code]

[2019-04-20 10:50] aemengo commented on #85
If you'd like to see the manifest for the director _simply for reference_, you can find it at: `~/.cfdev/state/bosh/director.yml`

However, please note that cannot directly deploy that file as is. CF Dev does a few other related provisioning steps before creating the director. Making modifications is not supported as of right now.

[2019-04-20 10:50] #85 closed

[2019-04-20 11:00] aemengo commented on #86
No, you're not missing something

A major change in `v1.2.0` was that it was built to model [Small Footprint PAS](https://docs.pivotal.io/pivotalcf/2-4/customizing/small-footprint.html). Thus, there isn't an explicitly titled VM with uaa all by itself. Instead, you can find UAA colocated on the `control` VM.

[2019-04-20 11:00] #86 closed

[2019-04-20 13:08] betht1220 commented on #86
@aemengo I intend to deploy some bosh-release, will this be okay then? I note that the foundation take around 8GIG of memory, hope that PAS small footprint will leave more memory for me to deploy more bosh releases for use? Thank you for your inputs

[2019-04-20 13:09] betht1220 commented on #85
Great, thank you for the reply. I appreciate it @aemengo

[2019-04-20 13:55] ClumsyPotato commented on #84
Although the file exists its empty.
I guess that can be considered as invalid :P

[2019-04-20 16:02] aemengo commented on #84
@ClumsyPotato I'm wondering if the CF Dev process even ran at all.

1. Does the following command return anything? `ps aux | grep linuxkit`

1. Are there any files that can be found in: `~/.cfdev/log`?

[2019-04-20 16:23] aemengo commented on #86
The following was just taken on the VM with a couple services running: It seemed to have consumed `6.8GB` of RAM.
<img width="1243" alt="Screen Shot 2019-04-20 at 12 07 52 PM" src="https://user-images.githubusercontent.com/4236888/56459781-b40bd880-6366-11e9-99b4-dd05ea521aea.png">

I'd say it should be fine to deploy something else, but it also does depend on your bosh-release.
In any event, I wa

[2019-04-23 01:10] betht1220 commented on #86
Thank you @aemengo - you can close this issue

[2019-04-23 03:00] betht1220 opened #87 "bosh login failed"
I tried to "bosh login" using credential "ops_manager" and its $BOSH_CLIENT_SECRET, but got
Failed to authenticate with UAA

Where can I find credentials to "bosh login" - Thanks

[2019-04-23 04:09] aemengo commented on #87
Running “cf dev bosh env” should output the environment variables. “cf dev bosh” should give you instructions on how to load these variables into your shell.

Does that work for you?

[2019-04-23 04:31] betht1220 commented on #87
yes, it works. Thank you @aemengo

[2019-04-23 06:14] betht1220 commented on #87
Don't know why I have to issue the load command every so often to bosh login.  I should only need to load it once, correct?
Also, can you tell me the URL to credhub associated with the pcfdev cloud foundry deployment? or this is not the right forum for pcfdev.?

[2019-04-23 17:03] aemengo commented on #87
Yes, you should only have to load it once, _once per shell session_. If you are entering new console windows, you'll have to perform the load command again.

The BOSH _director credhub_ can be found at `10.144.0.2:8844`. The internal credhub that utilized for PAS deployment is not accessible from outside of the VM

Yes, it is :)

[2019-04-23 17:03] #87 closed

[2019-04-24 15:12] NickyMateev opened #88 "CFDev suddenly stops working with EOF"
# CFDev suddenly stops working with EOF

Hey, so as part of an E2E test suite I have a client which communicates with `cfdev` and frequently creates/deletes organizations, asserts the existance of organizations, service-brokers and service offerings.

A problem that I've stumbled upon is that I can run my test suite only one, max 2 times, because `cfdev` stops working at some point so my calls eve

[2019-04-24 17:02] aemengo commented on #88
@NickyMateev Depending on how rigorous your test suite is, your CF Dev instance might be running out of RAM. If your workstation has some to spare, it might be worth starting CF Dev with the `-m` flag  in order to allocate more memory to the VM.

[2019-04-25 08:07] NickyMateev commented on #88
@aemengo They really aren't that rigorous. I also had that assumption so I tried executing only one of the tests which only creates 3 organizations and registers a couple of service-brokers. Everything seems okay on the first run, but on the second I start getting this error.

I even tried setting the memory parameter to 12GB, alas it did not help..

[2019-04-25 12:49] aemengo commented on #88
Certainly a bit odd...

Well the VM is still up and kicking if you even get that response at all but the internal deployment is in a bad state. There's really isn't much to go on, plus we've never really seen the phenomenon that you're describing. If you're able to give us some reproduction steps, we'll be happy to look further into it.

[2019-04-25 15:56] betht1220 opened #90 "pcfdev diskspace usage"
My system ran out of diskspace while running pcfdev.
1. where does pcfdev put its data on my local disk?
2. Can I configure to have pcfdev put data on an external disk instead?
I noticed that it uses 50G - 60G of diskspace.

Thanks

[2019-04-25 16:12] aemengo commented on #90
Yes you can configure where CF Dev puts its data. The explanation to this can be found in our FAQ below:

https://github.com/cloudfoundry-incubator/cfdev/blob/master/FAQ.md#can-i-configure-the-working-directory

[2019-04-25 16:12] #90 closed

[2019-04-25 22:33] tyrannosaurus-becks opened #91 "Feature request: Add ability to verify a client certificate"
Hi!

First off, thank you for offering this helpful development environment for PCF.

I am using this version of PCF:
[code]
I'd like to take advantage of the identity assurance certificates that became available in PCF version 2.1, as described [here](https://content.pivotal.io/blog/new-in-pcf-2-1-app-container-identity-assurance-via-automatic-cert-rotation). I've been testing and I've found that

[2019-04-26 10:26] ClumsyPotato commented on #84
ps aux | grep linuxkit output
root       948  0.0  0.0 481748  5040 ?        Ssl  09:31   0:00 /home/atm/.cfdev/daemons/linuxkit

 ~/.cfdev/log/linuxkit.log output

Unable to find qemu-img within the $PATH. Using a container
Using existing disk [/home/atm/.cfdev/state/linuxkit/disk.qcow2] format qcow2
qemu-system-x86_64: -netdev tap,id=t0,ifname=cfdevtap0,script=no,downscript=no: could not open /d

[2019-04-26 12:40] aemengo commented on #84
@ClumsyPotato The log error seems pretty clear. `qemu-img` wasn't installed, and thus the start process is continuing down a provisioning path that is not supported.

Please install `QEMU` for your environment and then try again. For ubuntu systems, the procedure is as simple as `sudo apt install qemu-kvm`

[2019-04-26 20:49] aemengo commented on #91
@tyrannosaurus-becks Yes, you're making sense. For your instance of CF Dev, you can find the certificate at `~/.cfdev/state/bosh/creds.yml`. If you have BOSH CLI, an easy way to extract it is:

[code]

 I'm just unclear about the use-case. You're seeing the same behavior that you would see in a real cloud deployment of CF. Is this a one time validation that you want to perform? Then hopefully the

[2019-04-26 22:57] tyrannosaurus-becks commented on #91
Thanks @aemengo ! That's super helpful!

The use case I'm thinking of is this:

- Someone wants to use the instance identity client certificate to authenticate to a _third party_ app hosted on or off PCF.
- It presents its client certificate to that third party.
- The third party verifies the client certificate is authentic using the CA certificate from the issuing authority.

My only question was

[2019-04-27 16:33] menicosia opened #92 "Migrate MySQL service to pxc-release?"
Hi there! I saw in issue #35 that cf-dev has added a MySQL service.

That’s great! But I think that it’s using the cf-mysql release and broker. We aren’t actively maintaining that, as we have moved on to pxc-release some time ago. That distribution doesn’t have a broker, rather uses the (Pivotal) OSS project, on-demand-broker.

What are CF Devs’ requirements around a broker, does it need to be syn

[2019-04-28 17:21] aemengo commented on #91
@tyrannosaurus-becks Just to tie up loose ends on this. In PAS, the recommended way to inspect this certificate is, indeed, through Ops Manager.

[2019-04-28 17:21] #91 closed

[2019-04-28 17:42] aemengo commented on #92
@menicosia Thank you very much for poking us about this. We've looked into the [pxc-release](https://github.com/cloudfoundry-incubator/pxc-release) months earlier but promptly ended our investigation when we couldn't figure about how to make the service available in the CF marketplace. We're already using pxc as CF's internal datastore so being able to streamline our deployments by using the same

[2019-04-28 17:46] menicosia commented on #92
Hm. There isn’t. Thanks for the info about cfdev is like a bosh-lite, that helps us think about it. I’ll try to find some time to follow up in the next few weeks.

[2019-04-28 17:47] #92 closed

[2019-04-29 10:32] ClumsyPotato commented on #84
It already was installed but the qemu-img binary was located inside a weird directory.
Once i copied it inside /usr/local/bin eveything worked fine.
Thanks for your help ^^

[2019-04-29 11:58] #84 closed

[2019-04-30 00:46] drnic opened #93 "cf login --sso does not show passcode prompt"
See https://github.com/cloudfoundry/cli/pull/1624

Are you aware of whether you are explicitly not passing a `passcode` prompt or if there is a fix for CF Dev?

I think this issue is broader than CF Dev only, but @abbyachau is not able to reproduce it; and I don't have any OSS CF deployments running aside from CF Dev to reproduce it either. I cannot see any mention of `passcode` in cf-deployment;

[2019-04-30 13:23] aemengo commented on #93
@drnic We're not explicitly omitting a `passcode` prompt. Internally, CF Dev is using cf-deployment.

Since PR is focused on the CF CLI, would you be satisfied with this issue being resolved?

[2019-04-30 14:27] NickyMateev commented on #88
Well I had some assumptions and theories what might be causing the issue and tried deriving smaller code samples which attempt to prove my assumptions, but I couldn't really reproduce the issue in an isolated context. So I'm still not sure what might be the issue.

I'm closing this issue, since it's so high-level and not concrete and when I do have some progress I can post an update here.

It woul

[2019-04-30 14:27] #88 closed

[2019-04-30 23:42] drnic opened #94 "Feature offer: cf dev deploy-service docker-redis, docker-postgresql, etc"
Currently `cf dev deploy-service` offers mysql.

If you'd like I could investigate adding support for a range of dev/test services based on https://github.com/cloudfoundry-community/docker-broker-deployment

I would upgrade the docker images etc as part of the work (I've not worked on this project for couple years).

This would allow cf dev users to install redis, postgresql, kafka, etc as single-

[2019-05-01 13:10] aemengo commented on #94
We appreciate the feature offer, but there's no need to invest the time into it.

CF Dev is quite "full" already and additional services are only _considered_ if there is overwhelming demand for it. Moreover, we're trying to mimic a production environment as closely as we can. If you were initially looking for more services than `mysql`, you can following the instructions in the [FAQ](https://gith

[2019-05-01 13:10] #94 closed

[2019-05-02 00:42] drnic opened #95 "Where is CI pipeline described?"
I've looked in:
* https://github.com/cloudfoundry-incubator/cfdev
* https://github.com/cloudfoundry-incubator/cfdev-builder

I don't think I spot a [concourse] CI pipeline. Where are the pipeline + build scripts? Thanks!

[2019-05-02 01:07] aemengo commented on #95
Our CI pipeline + build scripts are not publicly available.

[2019-05-02 01:07] #95 closed

[2019-05-02 01:24] drnic commented on #95
@aemengo can I ask why the pipeline/scripts description is not publicly visible?

[2019-05-02 01:27] drnic opened #96 ""bosh logs -d cf --follow" and "bosh ssh" failing"
Sorry if I'm doing this wrong. Should I be able to `bosh logs --follow` into cfdev's bosh deployments? *Update: `bosh ssh` similarly fails*

The commands below were run whilst `cf dev start` was still in progress:
[code]

[code]

`bosh ssh` also fails:

[code]

[2019-05-02 01:34] drnic opened #97 "cf dev start failed, bosh deploy -d cf succeeded, how to retry?"
I'm occasionally seeing `cf dev start` fail, and this latest time I checked the `cf` deployment and it seems to have succeeded.

From `deploy-cf.log`:

[code]

Any Tips on debugging (see #96 for inability to ssh into containers)?

I was unable to "retry" `cf dev start` to get it to fix this.

[code]

In my other log files I see a lot of (lines are produced more than once per second)

[code]

[2019-05-02 13:14] aemengo commented on #96
The bosh commands that you mentioned should work fine. Perhaps you had some conflicting `BOSH_` environment variables in your terminal session.

Please try those commands again in a fresh terminal session.

[2019-05-03 12:52] aemengo commented on #97
Apologies for the poor documentation on this, but if you want to restart CF Dev from a clean slate. you should run `cf dev stop` first.

[2019-05-03 23:19] betht1220 opened #98 "How to access "dev.cfdev.sh" from another computer running in same network"
Due to lack of memory space, I have to run a pipeline on a different machine.  This pipeline needs to access "api.dev.cfdev.sh" running in my local laptop.
How do I set up to allow the pipeline to access the API endpoint?
Thanks

[2019-05-04 16:07] aemengo commented on #98
I'm sorry Beth, but this is one use case that we do not support. CF Dev is recommended for local use only and was not built with remote access in mind. We would much rather you consider other options: like a cloud deployment of [cf-deployment](https://github.com/cloudfoundry/cf-deployment).

[2019-05-04 16:07] #98 closed

[2019-05-05 00:49] betht1220 commented on #98
thank you @aemengo

[2019-05-10 02:30] paulvi opened #99 "`cf install-plugin cfdev` never finishes"
Hello

`cf install-plugin cfdev` never finishes,
and there is no any errors or warning why it cann't or what it is doing.

P.S. Environment Windows 10, Gish Bash and cmd.

![image](https://user-images.githubusercontent.com/1614482/57498470-92bb5e00-730e-11e9-9e44-fbb6f32da63a.png)

[2019-05-10 07:23] paulvi commented on #99
the same with Windows `cmd`

![image](https://user-images.githubusercontent.com/1614482/57509692-7c75c800-7337-11e9-907d-f6dc26f343f5.png)

[2019-05-10 13:41] aemengo commented on #99
@paulvi It looks like `cflocal` hangs on install for you too: this can't be a CF Dev specific issue. I'm afraid that we're ill-equipped to help you with this issue since our code hasn't even had the chance to run yet. Perhaps the [cf cli](https://github.com/cloudfoundry/cli) team can help you.

[2019-05-10 13:41] #99 closed

[2019-05-13 08:33] paulvi commented on #99
Raised as https://github.com/cloudfoundry/cli/issues/1647

[2019-05-22 12:29] #97 closed

[2019-05-22 12:29] #96 closed

[2019-05-22 12:29] #93 closed

[2019-05-26 23:58] drnic opened #101 "clock skew"
I guess I've had my cfdev running 12-24 hours on my laptop. My laptop has been shut at least one during this time.

I now see that the `date` inside my app instance is lagging real time by 18 minutes.

App instance:

[code]

On my laptop:

[code]

[2019-05-28 22:52] kdvolder opened #103 "Adding more memory?"
Is it possible to add more memory/disk to cf dev (like it was possible in the old pcfdev were you could pass some options to the 'start' command to create larger VM to run it on)?

I tried `cf dev --help`, `cf dev start --help` but no information about this.

I also read the readme here: https://github.com/cloudfoundry-incubator/cfdev/blob/master/README.md

[2019-05-28 23:04] aemengo commented on #103
The help commands can be accessed like so:

[code]

You cannot configure the disk size but you can configure the memory with the `-m` flag, much like before.

[code]

[2019-05-28 23:04] #103 closed

[2019-06-04 21:13] wjbaird opened #104 "Can't run cfdev on Linux Mint 19.1"
Hi there,

I've followed the instructions on the main cfdev page, and additionally followed the instructions to set up kvm as recommended here: https://lists.cloudfoundry.org/g/cf-dev/topic/31075762 - but when I run "cf dev start", I get the following:
[code]

Any suggestions?

[2019-06-04 21:19] aemengo commented on #104
`virbr0` is the default network adapter installed by libvirt. Is that installed on your system as written in [README](https://github.com/cloudfoundry-incubator/cfdev#recommended-system-requirements)?

Also please understand that our Linux configuration has only been tested on Ubuntu.

[2019-06-05 06:18] alexo134 commented on #104
Try ```virsh net-list``` to see if default network is on the list:
[code]
when it's not active try:
[code]
I assume that libvirtd daemon is already running:
[code]

[2019-06-07 18:49] wjbaird commented on #104
@aemengo  - I did install libvirt
`dpkg -l libvirt*
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name           Version      Architecture Description
+++-==============-============-============-=================================
ii  libvirt-bin    4.0.0-1ubunt

[2019-06-07 18:53] wjbaird commented on #104
Whoops - sorry, I'm a github noob - I assumed that using the 'code' mode would preserve formatting, but apparently I messed something up...   I've attached a text file with the output from the previous comment in what will hopefully be a more readable form
[comments.txt](https://github.com/cloudfoundry-incubator/cfdev/files/3267232/comments.txt)

[2019-06-07 19:24] wjbaird commented on #104
OK - the error on 'virsh net-start default' led me to this page: https://superuser.com/questions/1063240/libvirt-failed-to-initialize-a-valid-firewall-backend which suggested also installing ebtables, firewalld and dnsmasq - I did that, restarted libvirttd and now I'm at least getting  further along - it's in the processes of deploying CF...

I'll leave this open in case you want to use it to trac

[2019-06-07 22:22] aemengo commented on #104
Thank you so much for documenting the steps you took! This is going to be a big value for anyone who encounters this in the future.

Since you were able to get passed the specific error message that the issue was about, I'll close this to keep it succinct.

[2019-06-07 22:22] #104 closed

[2019-06-12 15:30] antechrestos commented on #54
@sdawson-pivotal I don't know if it is still time but I also completed the survey

[2019-06-14 13:01] existme commented on #47
I am encountering the same problem

[2019-06-14 13:06] aemengo commented on #47
@existme Please ensure that you're on the latest version of our product

[code]

[2019-06-14 18:33] pankrator opened #105 "CF Dev info"
I am registering many service brokers at the same time and doing enable service access for something like 200 plans and 100 organizations. It is about 20000 enable service access requests and Cloud Controller is not able to handle all of them.
CF Dev is started with 32G of memory and 8 cores.

So my questions are:
* What is the number of instances of Cloud Controller?
* Can they be increased?

[2019-06-14 19:06] aemengo commented on #105
1

Yes, if you're familiar with the BOSH ecosystem. You'll need to get the manifest and scale the `instance_count:`.

[2019-06-14 19:12] aemengo commented on #105
1

Yes, if you're familiar with the BOSH ecosystem. You'll need to get the manifest and scale the appropriate `instance_count:`. For example:

[code]

For more information on BOSH, visit here: https://bosh.io/docs/

[2019-06-14 19:12] #105 closed

[2019-06-27 16:04] Xhings opened #106 "RTNETLINK answers: Operation not permitted"
Hello,

Trying to run ```tc``` command in a local instance and getting below exception:

```RTNETLINK answers: Operation not permitted```

Possibly due to privilege issue hence trying sudo. Are there default credentials?

Regards,
Xhings

[2019-06-27 19:08] aemengo commented on #106
What do you mean by in a local instance? What commands are you performing to access the instance?

[2019-06-28 14:06] Xhings commented on #106
```cf ssh``` Its a local cfdev instance.

[2019-06-28 14:38] aemengo commented on #106
@Xhings If you are performing `cf ssh`, that means that you are ssh'ing under the application developer persona. On any incarnation of Cloud Foundry, `sudo` access is unavailable to the application developer, not just CF Dev. This is expected behavior.

[2019-06-28 14:38] #106 closed

[2019-07-01 09:12] karizma987 opened #107 "cf dev start: unable to find VM IP address from '/var/lib/libvirt/dnsmasq/virbr0.status'"
although i found the same error being solved but it is not working for me. i am new to cloud foundry.
 i am trying to install cloud foundry dev.
i used the following command.

sudo apt install qemu-kvm libvirt-bin libvirt-doc
wget -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | sudo apt-key add -
echo "deb https://packages.cloudfoundry.org/debian stable main" | sudo tee

[2019-07-01 13:28] aemengo commented on #107
The following user that posted a similar issue was missing some other system packages. Could that be the case here?

https://github.com/cloudfoundry-incubator/cfdev/issues/104#issuecomment-500009253

[2019-07-02 09:14] karizma987 commented on #107
@aemengo about installing dnsmasq ...nothing is mentioned in the documentation for installing cf cli...
 i am reffering to the following document for installation

https://github.com/cloudfoundry-incubator/cfdev

i already executed the command in the beginning
sudo apt install qemu-kvm libvirt-bin libvirt-doc

what should i do next?
should i install and configure dnsmasq?

[2019-07-02 09:42] karizma987 commented on #107
@aemengo
i saw the #104 (comment)
i executed the the commands

**virsh net-list**

output
 Name                 State      Autostart     Persistent
----------------------------------------------------------
 default              active     yes           yes

**service libvirtd status**
output
 libvirtd.service - Virtualization daemon
   Loaded: loaded (/lib/systemd/system/libvirtd.service; enabled

[2019-07-02 12:43] georgi-bozhinov commented on #107
I had the same error and it turns out virtualization wasn't enabled on my machine. The issue was fixed by enabling it.

[2019-07-03 07:42] karizma987 commented on #107
@georgi-bozhinov i check my system, virtualisation is already enabled. i tried to do the whole process again. still geting the same error.
cf dev start: unable to find VM IP address from '/var/lib/libvirt/dnsmasq/virbr0.status'

[2019-07-03 15:26] aemengo commented on #107
@karizma987 Is that file present? What are the contents of `/var/lib/libvirt/dnsmasq/virbr0.status`. Is there any file present at this directory: `/var/lib/libvirt/dnsmasq/`?

[2019-07-03 18:16] eddie-at-ibm commented on #107
Had the same problem as @georgi-bozhinov where virtualization was not enabled on the machine.  Works now that it is enabled.

[2019-07-05 16:18] karizma987 commented on #107
@aemengo i check the file in var/lib/libvirt/dnsmasq/virbr0.status
the file is present but its empty. when i open it is shows square brackets like this
[

]

 and no other content.

[2019-07-05 16:21] karizma987 commented on #107
@eddie-at-ibm i use the following command to check whether virtualization is enabled or not.

sudo modprobe msr
sudo rdmsr 0x3a
Values 3 and 5 mean it's activated.
and my system is returning 5 and even checked the system setup setting virtualization is enabled.
and the problem still persist.

[2019-07-05 18:07] aemengo commented on #107
@karizma987

1. Does the following command return anything? `ps aux | grep linuxkit`

1. Are there any files that can be found in: `~/.cfdev/log`?

[2019-07-06 18:21] karizma987 commented on #107
@aemengo _ps aux | grep linuxkit gives the below output_

karishma  4353  0.0  0.0  21536   972 pts/0    S+   23:35   0:00 grep --color=auto linuxkit
root     32651  0.0  0.0 627804   108 ?        Ssl  23:16   0:00 /home/karishma/.cfdev/daemons/linuxkit
root     32659  0.0  0.0 158516   748 ?        Sl   23:16   0:00 /home/karishma/.cfdev/bin/linuxkit run qemu -cpus 4 -mem 8192 -disk size=120G,for

[2019-07-06 18:22] aemengo commented on #107
What are the last few lines of the linuxkit.log file?

[2019-07-06 18:37] karizma987 commented on #107
@aemengo can you tell where to find this linuxkit.log file? i used the terminal to see the content of cfdev/log but not able to see the content of linux.log

[2019-07-06 18:41] aemengo commented on #107
Can you perform the following and tell me the output?

[code]

[2019-07-06 18:43] karizma987 commented on #107
@aemengo got this as output

INFO[0000] loading plugin "io.containerd.runtime.v1.linux"...  type=io.containerd.runtime.v1
INFO[0000] loading plugin "io.containerd.service.v1.tasks-service"...  type=io.containerd.service.v1
INFO[0000] loading plugin "io.containerd.grpc.v1.containers"...  type=io.containerd.grpc.v1
INFO[0000] loading plugin "io.containerd.grpc.v1.content"...  type=io.containerd.grpc

[2019-07-08 21:20] aemengo commented on #107
I'm really sorry for the delay in responding, but unfortunately there's still not much to go on. Something must be occurring wrongly with the `libvirt` interaction in a way that is not quite surfacing itself.

[2019-07-10 07:35] karizma987 commented on #107
@aemengo  thank you for responding, i am working on the issue, will update incase i am able to move forward in the installation.

[2019-07-10 16:55] richard-cox commented on #107
@karizma987 I hit the same issue today, however my `virsh net-list --all` was missing `default`. Found [this](https://github.com/kubernetes/minikube/blob/master/docs/drivers.md#kvm2-troubleshoot) and [this](http://ask.xmodulo.com/network-default-is-not-active.html) really helpful.

[2019-07-15 14:34] karizma987 commented on #107
@richard-cox i tried virsh net-list --all

output is
 Name                 State      Autostart     Persistent
----------------------------------------------------------
 default              active     yes           yes

so that means default is already active i guess.

[2019-08-06 08:58] joaompinto opened #108 "Add warning when "SELinux" is set to "Enforcing""
→ cat /etc/redhat-release
Fedora release 30 (Thirty)

→ cf  plugins
Listing installed plugins...

plugin   version   command name   command help
cfdev    0.0.16    dev            Start and stop a single vm CF deployment running on your workstation

-> cf dev start
Downloading Resources...
Progress: |====================>| 100.0%
Setting State...
Creating the VM...
Starting the VM...
Fetching VM Ad

[2019-08-06 16:24] joaompinto commented on #108
I have found that the problem was related to SELinux preventing the "org.cloudfoundry.cfdev.linuxkit.service" to work was expected.
It sould be easy to check and warn about potential problems if selinux is enabled.

[2019-08-08 08:33] tosone commented on #107
`cf dev start` got this:

[code]

`tail -n 30 ~/.cfdev/log/linuxkit.log` got this:
[code]

What should I do? @aemengo

[2019-08-08 08:35] tosone opened #109 "`cf dev start` got an error about qemu."
`cf dev start` got this:

[code]

`tail -n 30 ~/.cfdev/log/linuxkit.log` got this:

[code]

What should I do? @aemengo

[2019-08-09 01:28] tosone opened #110 "`cf dev start` got an error."
`cf dev start` got an error:

[code]

`cat .cfdev/log/deploy-bosh.log` got this:

[code]

[2019-08-16 08:49] #110 closed

[2019-08-16 08:50] #109 closed

[2019-08-20 16:20] shouah opened #111 "CFDEV fail to start on Windows with conflicting Powershell modules installed"
**Summary:**
When running CFDEV on Windows 10 which has powershell modules for both Hyper-V and VMware PowerCLI installed, which has duplicated commands like Get-VM, then then CF CLI plugin invokes the wrong command and fails unexpectedly.

**Expected behavior:**
The command "cf dev start -f ...tgz" invokes the correct PowerShell commands under the hood

**Observed behavior:**
[code]

**Request:**

[2019-08-23 13:49] aemengo commented on #108
Thank you for reporting the resolution to the issue. We will consider the product enhancement that you have suggested.

[2019-08-23 13:49] #108 closed

[2019-08-27 07:08] Kaysun93 opened #112 "Fail occured after executing "cf install-plugin cfdev" in ubutnu 18.04.2"
Hi!
&emsp;I do not know whether it is right to ask here, if not, please criticize me lightly...
&emsp;I have tried many times with PCF Dev in my Win10 PC. I downloaded "pcfdev-v0.29.0+PCF1.11.0-windows.exe" and "pcfdev-v0.548.0.ova" to set my local environment up, but it stuck on "Waiting for services to start...", I have no way to solve it with no success...
&emsp;So I turned to cfdev, but it see

[2019-08-28 23:32] mxplusb opened #113 "Caching resources"
It would be awesome if there was a way to cache the downloaded resources so when you run `cf dev start` it can first check to see if there are locally available assets before attempting to download them.

For example, I wanted to test a theory with bosh while I'm in a public place, and it's trying to download all of the assets on public wifi.

[2019-08-29 13:16] aemengo commented on #113
@mxplusb Perhaps the output is misleading but that is the exact behavior of `cf dev start`. If the assets are already present locally, it will prefer using them over attempting to re-download.

Another possible source of confusion is that it performs a checksum validation on an locally present assets, which can take some time due to actual size of the assets.

[2019-08-29 13:16] #113 closed

[2019-08-29 13:22] aemengo commented on #112
CF Dev spins up a VM on your local machine. This is a fairly intensive process and attempting perform the start process inside another VM is not recommended nor supported.

[2019-08-29 13:22] #112 closed

[2019-09-03 16:21] mxplusb commented on #113
@aemengo if that's the existing behaviour, I think the output could be a little misleading.

[2019-09-05 10:59] aemengo commented on #111
Apologies for the lack of response on this issue, up until now. Your request is sound and is a use-case that we'd like to support. We opted for option 1.

The code fix should be applied and present in our most recent CLI release: `0.0.17`.

[code]

Many thanks for bringing this to our attention.

[2019-09-05 10:59] #111 closed

[2019-09-07 23:45] drnic opened #114 "Prompt for telemetry at start"
Currently the prompt for telemetry reporting occurs only after downloading 60G -- but before it starts 30 minutes of booting the VM and starting CF.

Instead, can we prompt for telemetry reporting ASAP *or* wait until CF is successfully running/fails to run?

On a clean deploy/first time, it can be distressing to come back to your laptop and see what its blocked waiting for you to enter "Y" to a u

[2019-09-08 00:19] drnic opened #115 "Cannot run tests locally - cmd/start/mocks/hypervisor.go:8:2: no matching versions for query "latest""
[code]

[2019-09-08 00:24] drnic commented on #114
I think this might be resolved in newer plugin. Going to close until I see it reproduced locally. I'm scared to delete `~/.cfdev` and download 60G just to confirm the bug I captured recording https://www.youtube.com/watch?v=5GCVnGnA2YQ a few months ago

[2019-09-08 00:24] #114 closed

[2019-09-17 09:42] tosone commented on #107
I found this [line](https://sourcegraph.com/github.com/cloudfoundry-incubator/cfdev/-/blob/driver/kvm/driver.go#L89) timeout too short for me.

[2019-09-17 10:36] tosone commented on #107
How to compile this repo? I want to fix some bugs and tests on my own.

[2019-09-26 18:31] zamber opened #117 "Fedora Silverblue toolbox: qemu-system-x86_64: could not configure /dev/net/tun (cfdevtap0): Operation not permitted"
OS: Fedora Silverblue 30
Environment: toolbox (https://github.com/debarshiray/toolbox)

In short Silverblue is an immutable Fedora and toolbox is a a qemu/libvirt container with regular fedora for development work. The toolbox can be disposed of if we don't need it anymore, so that the core OS is not polluted by randomly installed packages. The toolbox has DBus and other host OS directories mounte

[2019-09-26 19:19] fhartojo opened #118 ""cf dev start" Failing on Ubuntu Linux 18.04"
CF newbie here.  "cf dev start" consistently fails on my laptop.  Some details:

- From log/deploy-cf.log:

[code]

- cf version:
[code]

- Computer:
[code]

I've had to add 127.0.0.53 to /etc/hosts because it previously failed on looking up api.dev.cfdev.sh with a "no host found" error.

- Network:
At home, no proxy.

I checked and there's no listener on 443 which makes sense given the connection

[2019-09-26 19:53] fhartojo commented on #118
Seems like I've opened this issue on a wrong repo.  Closing.

[2019-09-26 20:19] aemengo commented on #118
@fhartojo This is the correct repo to submit this issue.

`api.dev.cfdev.sh` shouldn't resolve to 127.0.0.53. This is a real DNS address that you need the public internet to resolve. Furthermore, since there are multiple subdomains that also need to be resolved, injecting entries into your host file isn't enough.

Is it possible that your laptop wasn't connected to the public internet at the time?

[2019-09-26 21:54] fhartojo commented on #118
Thanks for responding.

So, I tried looking up (i.e., nslookup) api.dev.cfdev.sh on a couple of different hosts and they both point to 10.144.0.34, which I think is one of the interfaces brought up during "cf dev start", is that right?  Since it's a 10.* address I don't think it's going to be available publicly, yes?

Anyway, I added these entries to /etc/hosts:

10.144.0.34	api.dev.cfdev.sh
10.14

[2019-09-26 22:02] aemengo commented on #118
Yes

Yes

This might be true in your case, but we don't expect this by default for our users. If it makes sense why `cf dev start` cannot resolve the domain using your networking setup (such as running in an offline environment), then you should pursue this option.

[2019-09-27 07:58] fhartojo commented on #118
Sorry for the late response.

So, I found out several things:

- Apparently all, at least the ones I've tried, public DNS servers would respond with 10.144.0.34 to inquiries on *.dev.cfdev.sh.  I've tried Google, my ISP, Cloudflare amongst others.  They all work.

- What doesn't work, however, is my WiFi router (i.e., Google WiFi) which acts as my local DNS as per the usual practice.  When I point

[2019-09-27 07:58] #118 closed

[2019-10-17 18:29] goodtiding5 opened #119 "`cf dev start` failed on centos 7"
I think this is identical to issue #109.  Issue #109 was closed without any comments or suggestions, so I am filing it again.

I tried to install cfdev on a centos 7 virtual machine under vmware.  Intel vt-x is enabled.  RAM is 8G and HD is 100G.

[code]

CF is installed according to the instruction for centos.

[code]

Now when I try to start cfdev, it always fails at the same location:

[code]

[2019-10-26 19:02] hananiel opened #120 "Is it possible to install pcf metrics in cfdev?"
Looks like all of the requirements listed at pivnet are met, but don't have access to ops man UI and don't know enough to do this in cli. Is there some documentation ?

[2019-10-28 13:32] aemengo commented on #120
CF Dev does not come with an OpsManager installed. Doing so would have consumed even more resources than it already does.

[2019-10-28 13:32] #120 closed

[2019-12-11 10:04] dmytropetryk commented on #54
Hi, @ssisil do you have any updates regarding support of `suspend/resume` feature?

[2019-12-11 14:29] ssisil commented on #54
Hi @dmytropetryk - I have not been closely involved with the project over the past year.  Tagging @aemengo - do you know if this feature made it into cfdev?

[2020-01-05 19:11] basilk27 commented on #68
I am getting this error on Releases: v1.2.0 for PAS 2.4.4
Basils-MBP:~ basilkiwanuka$ cf dev start -f /Users/basilkiwanuka/Utils/Pivotal_Tools/pcfdev-v1.2.0-darwin.tgz
Downloading Network Helper...
Progress: |====================>| 100.0%
Installing cfdevd network helper (requires administrator privileges)...
Password:
Setting up IP aliases for the BOSH Director & CF Router (requires administrator

[2020-01-08 17:41] mxplusb opened #122 "`cf dev start/stop` calls `bosh start/stop-vm`"
It would be a very nice feature to have `cf dev` be able to start and stop the virtual machine without having to deploy the entire stack. I do quite like that `cf dev start` is idempotent, but I also would like to be able to start and stop the virtual machine for a reboot without having to take a 15-20 minute time penalty while it deploys the stack from scratch.

In my head, I could see this funct

[2020-01-08 18:25] aemengo commented on #122
Hi there, thanks for the feedback on the product.

While this has come up before and we certainly sympathize with the desire to avoid the 15-20 minute time penalty, there are simply too many architectural obstacles in the way of delivering `start/stop` or `suspend/resume` functionality. The reason is, ultimately, that the CF Dev VM leverages and behaves just like a Docker Desktop solution, which a

[2020-01-08 18:25] #122 closed

[2020-01-29 10:15] thlcodes opened #123 "CF DEV START: Request error: Get https://api.dev.cfdev.sh/v2/info: dial tcp: lookup api.dev.cfdev.sh: no such host"
Hi, on macOS 10.14.6 (MBP & MacMini) `cf dev start` fails with latest plugin version:

[code]
`~/.cfdev/logs/deploy-cf.log` says:
[code]

There is no HTTP proxy required and firewall is deactivated.

Any idea?

[2020-01-29 10:21] aemengo commented on #123
Looks like a DNS issue: we’re seeing `no such host`. The domain `api.dev.cfdev.sh` can’t be resolved. Is your MacBook connected to the internet to make the resolution?

What does `dig api.dev.cfdev.sh` yield?

[2020-01-29 11:08] thlcodes commented on #123
Yep, all devices are connected to the internet. Even my phone (on mobile data) cannot resolve the address.

[code]

[2020-01-29 14:51] aemengo commented on #123
Thanks for the response. It definitely appears like address cannot be resolved on your machine. I'm afraid that getting that to resolve is outside scope of this repository. Maybe a quick fix might be to temporarily change your DNS address to `8.8.8.8` and then see if the `dig` command works.

Yes, it is supposed to host the API. Nothing that you've posted so far indicates that the api didn't come

[2020-01-29 19:29] AdamJel opened #124 "FAILED to start cf dev"
Hello, I have a trouble with starting the dev using `cf dev start`.

What I did is a complete fresh install of cf onto Windows 10. I installed the dev plugin and started using command `cf dev start`. That worked and process successfully started. But I realized that I did not set the environment variable `CFDEV_HOME` and thus used wrong folder. Then I Ctrl-C the process and (unwisely) deleted `.cfd

[2020-01-29 21:14] aemengo commented on #124
I'd recommend that you do a full reboot. Then delete the `.cfdev` folder. And then you should be able to safely perform a `cf dev start` (with / without the `CFDEV_HOME` variable set).

[2020-01-30 07:59] AdamJel commented on #124
This doesnt work. As I stated - after not only full reboot, but after reinstalling all components (and reboot and .cfdev folder deletion), `cf dev start` fails into the error above.

[2020-01-30 08:17] aemengo commented on #124
I see.

Are you familiar with the “Hyper-V Manager“ application? Could you open it and see if there is a VM titled “cfdev” there? If so, please delete it and try again.

[2020-01-30 08:21] AdamJel commented on #124
I just checked, there is no VM at all. So I deleted the server for current user. But `cf dev start` still fails the same way.

[2020-01-30 08:30] aemengo commented on #124
Could you perform `Get-Service | findstr vpnkit` on the Powershell command line? Do you see anything? If so, could you please remove the service and try again?

[2020-01-30 08:47] AdamJel commented on #124
There was stopped service:
[code]
So I removed it:
[code]

It seems to work. I am downloading resources right now.
Ok - thank you so  much! 👍

[2020-01-30 15:38] #124 closed

[2020-02-20 09:17] ZeroGraviti opened #125 "Cant install rabbitmq-p service on pcf dev local"
I created a post here https://stackoverflow.com/questions/60274043/how-can-i-install-the-p-rabbitmq-service-on-my-local-pcfdev with the details.

Please guide me.

[2020-02-20 17:20] aemengo commented on #125
There's an entry in the FAQ addressing this specific issue:

[FAQ](https://github.com/cloudfoundry-incubator/cfdev/blob/5ddd9c1fe628a12386bc62e105b773ad676defd8/FAQ.md#the-only-service-available-is-mysql-how-do-i-get-access-to-pivotal-apps-manager-rabbitmq-redis-spring-cloud-services)

[2020-02-21 16:33] ZeroGraviti commented on #125
I did use the asset (pcfdev-v1.2.0-darwin.tgz) to run locally and this is not the deprecated version of cf dev.

[2020-02-26 09:32] sfrevel opened #126 "cf dev start fails on the Get request for https://10.144.0.2:25555/info (Macos 10.15.3)"
I always get the following error on an Mac with Catalina 10.15.3, with 16GB, and an SSD. But on an other MAC (an older one - also Catalina 10.15.3, 16GB, SSD) everything comes up smoothly?

[code]

when I try a curl -v I can see that there is a connect to the IP:PORT and Client Handshake is send but then the timeout.
Any Ideas? I'm pretty lost right now what could be the difference.
[code]
We also

[2020-02-26 14:14] aemengo commented on #125
The splash message should tell you how to `cf dev deploy-service`. Were you able to see it?

[2020-02-27 04:25] ZeroGraviti commented on #125
I need to have a rabbitmq broker registered as an errand at the time of deployment. I couldn't figure that out yet. Let me know if I am looking for the wrong thing.

[2020-02-27 04:27] ZeroGraviti commented on #125
the only service which I could deploy is mysql - here is the splash message
[code]

[2020-02-27 04:30] ZeroGraviti commented on #125
Here are the contents of the deployment manifest which I have modified -
[code]

[2020-02-27 20:17] aemengo commented on #125
By the looks of it, you already have `cf-rabbitmq` installed if it shows up in the output of `bosh vms`. What else were you hoping to achieve?

Moreover, the splash message and invocation asserts that you did not invoke the start command with the `-f` flag, as mentioned in the [FAQ](https://github.com/cloudfoundry-incubator/cfdev/blob/5ddd9c1fe628a12386bc62e105b773ad676defd8/FAQ.md#the-only-servic

[2020-02-27 20:33] aemengo commented on #126
Could you please report the last chunk of logs from: `~/.cfdev/log/deploy-bosh.log`

[2020-02-27 21:52] ZeroGraviti commented on #125
Do I need to add the path

 every single time I start cf ? I assumed (most probably wrongly) that this was required only for the first time.
What you see in the `bosh vms` output was my own install of rabbitmq after the fact.

[2020-02-27 21:53] aemengo commented on #125
Yes you need to add the path, every single time.

[2020-02-27 23:15] ZeroGraviti commented on #125
Works !

[2020-02-27 23:15] #125 closed

[2020-02-28 12:34] sfrevel commented on #126
Hi aemengo,
thxs for your response.
`
^@^@^@^Ascp: protocol error: unexpected <newline>
^@^@^@^Ascp: protocol error: unexpected <newline>
^@^@^@^Ascp: protocol error: unexpected <newline>
Deployment manifest: '/root/director.yml'
Deployment state: 'state.json'

Started validating
  Validating release 'bosh'... Finished (00:00:01)
  Validating release 'bpm'... Finished (00:00:02)
  Validating relea

[2020-02-28 13:46] sfrevel commented on #126
OK , we found the problem. The IP 10.144.0.2 was not in the exclude rules of the company firewall network traffic filtering.

May this issue will help someone else...

an
[code]
will help to see that the connection is established when cf dev start is running.

[2020-02-28 13:46] #126 closed

[2020-03-15 11:15] ryzior commented on #119
hi
I have exactly the same issue, already spent 2 days trying to make it working but still fails.
All necessary (and also not mentioned like epel repo must be added for qemu-system-x86_64 to be in PATH) steps done.
many other suggestions from net tested - but no use
maybe it has something to do with this entry in messages:
Mar 15 07:06:26 localhost sudo:    root : TTY=pts/2 ; PWD=/root ; USER=root

[2020-03-15 15:23] ryzior commented on #119
I tried with ubuntu 18.04.
extended memory to 16G on VM cause it was almost reaching 12G during startup (and failed).

After all it fails later when trying to deploy BOSH:

output files:
[deploy-bosh.log](https://github.com/cloudfoundry-incubator/cfdev/files/4334392/deploy-bosh.log)
[linuxkit.log](https://github.com/cloudfoundry-incubator/cfdev/files/4334393/linuxkit.log)

[2020-03-15 18:13] aemengo commented on #119
I apologize if this was not made clear earlier, but the only Linux distro that CF Dev is currently [supported](https://github.com/cloudfoundry-incubator/cfdev#recommended-system-requirements) for is **Ubuntu**.

---

From the looks of your latest logs @ryzior, it looks like there were resource constraints during the provisioning process.

Are you trying to run `cf dev start` from within a VM? If s

[2020-03-15 20:36] ryzior commented on #119
hi
I started with ubuntu on VM (vmware player and vbox from oracle) after realized no hypervisor available on my Home version of  win10 (laptop). I tried centos 6 then 8 finally 7, then moved to my other pc cause my laptop 16G ram was unable to carry this load(12G vm is too much). there I started to work with centos 7 12G VM and then 16G then moved to ubuntu with same specs (16G ram and 4 cores).

[2020-03-15 21:06] aemengo commented on #119
If you're unable to resolve your connection issues, please make a separate issue.

[2020-03-15 21:06] #119 closed

[2020-03-31 05:43] kubiani commented on #123
Was experiencing the same issue. Tracked it down to rebinding protection on my pfSense box as the culprit. If you're using any custom router solution (ddwrt, openwrt, tomato, etc) it's probably the same deal. You'll need to disable rebinding protection or find out how to add exceptions for your setup.

For pfSense with the DNS Resolver enabled, add a line to the custom options to create an excepti

[2020-03-31 15:46] #123 closed

[2020-04-09 07:24] ajinkya976 opened #127 "Get https://plugins.cloudfoundry.org/list: dial tcp ip: i/o timeout"
Hi,

Can someone please help in this error.

Get **https://plugins.cloudfoundry.org/list: dial tcp ip: i/o timeout**

i am trying to execute **cf install-plugin -r CF-Community cfdev** in my linux machine.

[2020-04-09 11:54] aemengo commented on #127
Please make sure you can access the URL from a web browser. You seem to be have networking difficulties that is out of scope for this repository.

[2020-04-09 11:54] #127 closed

[2020-04-09 12:22] ajinkya976 commented on #127
i can access url in browser but it open some content

[2020-04-09 12:24] georgifarashev opened #128 "Not able to login"
I am trying to run cfdev on my local machine but I am unable to login.
(I have Intel Xeon 6 core cpu and 32gb of ram)

[code]
In the deploy-cf.log I see the following:
[code]

I see logs in vpnkit.err.log similar to this one:
[code]
and this one:
[code]

I am not behind a proxy and I disabled my firewall during the startup and login.

[2020-04-09 12:40] aemengo commented on #127
You seem to be having trouble installing _any cf plugin_ at all, not just CF Dev. Perhaps you'd have better luck at this repository:
https://github.com/cloudfoundry/cli

[2020-04-09 12:43] aemengo commented on #128
The ` vpnkit.err.log` looks fine. Can you verify that that aren't any firewall/networking rules in your environment stopping you from reaching `10.144.0.34 ` ?

[2020-04-09 12:48] georgifarashev commented on #128
As I mentioned I have disabled my firewall during startup and login. I am able to ping this IP.
I forgot to mention that I did not have this problem with cfdev 0.0.15. The issue seems to have occured in 0.0.16.

[2020-04-22 09:24] Jojo134 commented on #128
I had a similar error after shutting down and restarting the cfdev vm, my guess was this is related to hyperv networking. It got solved for me by running deleting the vm and creating a new using cf dev

[2020-04-22 10:58] georgifarashev commented on #128
I tried removing the vm and the whole .cfdev folder. I even tried reinstalling windows (not for this reason). None of it worked.

[2020-05-08 08:46] marcello-dev opened #129 "State in the doc that the only supported Linux distribution is Ubuntu"
I don't see anywhere that the only supported distribution is Ubuntu, only [here](https://github.com/cloudfoundry-incubator/cfdev/issues/119#issuecomment-599245144). The installation fails on RHEL7 and CentOS 7 as explained on the issue #119.

[2020-05-08 13:57] #129 closed

[2020-05-08 13:59] aemengo commented on #129
This is a good call. Sorry for any confusion.

[2020-05-09 16:31] marcello-dev opened #130 "Binding error: "Service broker error: Could not find an available leader""
I have deployed a Spring Boot app and mysql on my PCFDEV instance running on Ubuntu.
This is the error I get when I try to bind mysql to the app:
`Service broker error: Could not find an available leader from [https://10.144.0.8:8443]`

The full list of commands from the start is:
[code]

The issue is on the last command which outputs:

Binding service mysql-instance to app demo-customer in org cf

[2020-05-09 20:38] guicey opened #131 "cf dev start: Failed to deploy services: Failed to deploy PAS: exit status 1"
After installing cf cli and cfdev plugin and downloading extra asset pcfdev-v1.2.0 for PAS 2.4.4, i try to start cf dev and encounter the following error message:

[code]

I can see in the log that task 576 has failed:

[code]

When i retrieve the logs with bosh, and look inside the iptables-logger logs is see the following contents:

[code]
When i check the proces statuses of the instances with b

[2020-05-14 13:55] aemengo commented on #131
Are you perhaps running CF Dev on an external hard drive? It's possible that you might be seeing resource constraints because of "not quite" flash storage.

[2020-05-14 14:10] aemengo commented on #130
Please perform the following instead

[code]

CF Dev ships with `p-mysql` not `p.mysql`. Thus the workflow that you've posted above is not supported.

[2020-05-14 14:10] #130 closed

[2020-05-14 14:12] aemengo commented on #117
As noted in the following issue, `Ubuntu` linux is the only supported distro for this product:

https://github.com/cloudfoundry-incubator/cfdev/issues/129

[2020-05-14 14:12] #117 closed

[2020-05-14 14:40] guicey commented on #131
I'm running on 1TB SSD of MacBook Pro 2019.

[2020-05-14 21:55] aemengo commented on #131
And you’re repeatedly seeing this issue on subsequent runs of CF Dev? What’s happens if you do a `cf dev stop` and then start again?

[2020-05-14 22:19] guicey commented on #131
Yes i did that 3 times and it didn't work probably because of:

_**Silk-Release IPTables logging not effective in BOSH Lite**
When using BOSH Lite, iptables logging between deployed applications on the same diego-cell does not log to /var/log/kern.log. Due to this, the iptables-logger job is unable to read and generate the logging statements in /var/vcap/sys/log/iptables-logger/iptables.log._
Link

[2020-05-25 06:55] hfcotino commented on #130
Hi, I get the same error when binding or creating a service key. I've tried on Windows as well as on Linux, but get the same error. Is there a solution for this?

[2020-05-25 08:08] marcello-dev commented on #130
Have you tried the [solution](https://github.com/cloudfoundry-incubator/cfdev/issues/130#issuecomment-628662473) suggested by @aemengo ? I haven't tried it yet.

[2020-05-25 08:42] hfcotino commented on #130
With PCFDev I only got p.mysql. I did however also tried CFDev which has de p-mysql broker. This works fine, the only problem is it only has 10mb or 20mb plans, which is too small.

[2020-05-27 16:18] aemengo commented on #130
@hfcotino @marcello-dev I think there's some confusion. The plans `10mb` and `20mb` are effectively just labels to match what a real `cf-mysql` deployment would give you. However, unlike a real deployment, services are allocated _all free space_ in the VM. And this goes for most of the services.

CF Dev aims to provide you with the same interaction experience that you would get with a full deploym

[2020-05-27 17:05] aemengo commented on #131
I appreciate the extra digging that you did, but I fail to see how the `iptables-logger` issue you mentioned would cause CF Dev to crash on startup _for just you_. `cf dev start -f pcfdev-v1.2.0-darwin.tgz` routinely works for me (and others) regardless of that logging issue.

[2020-06-08 17:39] PiNh00fD opened #132 "deploy-service scs fails"
Hi,
Installed pcfdev-v1.2.0-darwin.tgz on MacBook Pro with 16GB ram (same error occurs on Linux Bionic Beaver with 16G ram, so Tried multiple OS-es). works as expecte, but when I deploy service scs, the deployment fails. Added the last part of the deployment log, since I have the feeling that the phrase "Service broker error: Could not find an available leader" has something to do with it. I have

[2020-06-10 13:04] jaisalj opened #133 "cf dev start: Failed to deploy services: Failed to deploy CF: exit status 1"
The cf dev start command is failing again and again

logs - cat ~/.cfdev/log/deploy-cf.log
Fetching info:
  Performing request GET 'https://10.144.0.2:25555/info':
    Performing GET request:
      Retry: Get https://10.144.0.2:25555/info: dial tcp 10.144.0.2:25555: connectex: A connection attempt failed because the connected party did not properly respond after a period of time, or established co

[2020-06-11 09:30] jaisalj commented on #133
Hi @aemengo
Any solution for this issue ?

[2020-06-11 10:50] aemengo commented on #133
could you please show the contents of the `deploy-bosh.log` and `vpnkit.log`?

[2020-06-11 11:09] jaisalj commented on #133
[deploy-bosh.log](https://github.com/cloudfoundry-incubator/cfdev/files/4764355/deploy-bosh.log)
 Where can i find vpnkit.log ?

[2020-06-11 11:15] aemengo commented on #133
What OS are you running CFDev on? It would be in the same folder, unless you were running Linux.

[2020-06-11 11:33] jaisalj commented on #133
I tried running "cf dev start" command again and these are the final logs -
[deploy-bosh.log](https://github.com/cloudfoundry-incubator/cfdev/files/4764431/deploy-bosh.log)
[deploy-cf.log](https://github.com/cloudfoundry-incubator/cfdev/files/4764433/deploy-cf.log)
[org.cloudfoundry.cfdev.vpnkit.err.log](https://github.com/cloudfoundry-incubator/cfdev/files/4764434/org.cloudfoundry.cfdev.vpnkit.er

[2020-06-11 11:39] aemengo commented on #133
Please try a `cf dev stop`, then *reboot your machine* and see if you get further along

[2020-06-11 13:30] jaisalj commented on #133
I tried cf dev stop and rebooted my machine and then again cf dev start, but getting the same error
Find the updated logs -
[deploy-bosh.log](https://github.com/cloudfoundry-incubator/cfdev/files/4765018/deploy-bosh.log)
[deploy-cf.log](https://github.com/cloudfoundry-incubator/cfdev/files/4765019/deploy-cf.log)
[org.cloudfoundry.cfdev.vpnkit.err.log](https://github.com/cloudfoundry-incubator/cfde

[2020-06-11 13:50] aemengo commented on #133
There’s something wrong with the traffic forwarding to the VM.

If you’re already running CFDev in a privileged Administrator shell - on a home Desktop machine, then perhaps give it a go on a different machine.

[2020-06-11 13:52] jaisalj commented on #133
So the issue is with the machine that I am using ?

[2020-06-25 13:25] aemengo commented on #132
Could you please post you CF CLI version?

[code]

[2020-06-28 15:29] PiNh00fD commented on #132
cf version
6.51.0+2acd15650.2020-04-07
�

https://github.com/cloudfoundry-incubator/cfdev/issues/132#issuecomment-649539833

[2020-06-28 15:30] PiNh00fD commented on #132
Hi,
cf version is:
cf version 6.51.0+2acd15650.2020-04-07

[2020-07-02 03:36] aemengo commented on #132
As was mentioned in https://github.com/pivotal-cf/pcfdev/issues/393#issuecomment-652761586:

This is caused by the expiration of internal certificates used in the Spring Cloud Services execution path.

[code]
To rectify, I just released updates for the CF Dev product that will have newer certificates. This means that the problem is abated but, of course, not resolved forever.

**New Release**
- **

[2020-07-02 03:36] #132 closed

[2020-07-02 03:37] aemengo commented on #131
Please consider giving the newest release of CF Dev a try and see if that helps this issue.

**New Release**
- **v0.0.18** (plugin) - https://plugins.cloudfoundry.org/#cfdev
- **v1.3.0** (Service Assets) - https://network.pivotal.io/products/pcfdev/#/releases/685614

[2020-07-05 08:10] gitricko commented on #107
i have the same error... `cat /var/lib/libvirt/dnsmasq/virbr.` gives me 3 IPs... is it the timeout that cause the issue. Maybe the program need to wait longer ?

[2020-07-08 16:57] PiNh00fD commented on #132
Hi @aemengo,
Thnx!
I can confirm that the install service scs works and I'm able to bind the spring-music app to the mysql service.
Thnx again for the support.

[2020-07-25 12:45] ecormaksin opened #134 "Please tell me firewall rule"
I'm using McAfee(R) LiveSave(TM) on macOS Catalina(10.15.5).
In that situation, `cf dev start` fails like below.

[code]

But when I turn off McAfee's firewall, `cf dev start` succeeds like below.

[code]

What kind of permission rules should I add to firewall?
My machine is not behind proxy.

Any help would be much appreciated.